@using VocaDb.Web.Helpers;
@model VocaDb.Web.Models.Shared.PagingData<VocaDb.Model.DataContracts.Users.AlbumForUserContract>

@{	
	var showCollectionStatus = Model.Items.Any() && Model.Items.First().ShouldShowCollectionStatus;	
}

<div class="pager">
	@Html.Pager(Model)
</div>

<table>
	<tr>
		<th colspan="2">@ViewRes.User.AlbumCollectionStrings.Album</th>
		@if (showCollectionStatus) {
		<th>@ViewRes.User.AlbumCollectionStrings.Status</th>
		<th>@ViewRes.User.AlbumCollectionStrings.MediaType</th>			
		}
		<th>@ViewRes.User.AlbumCollectionStrings.Rating</th>
		<th></th>
	</tr>
	<tbody id="albumCollectionTableBody">
		@foreach (var album in Model.Items) {
		<tr>
			<td>
				<input type="hidden" class="albumId" value="@album.Album.Id" />
				<input type="hidden" class="albumPurchaseStatus" value="@album.PurchaseStatus" />
				<input type="hidden" class="albumMediaType" value="@album.MediaType" />
				<input type="hidden" class="albumRating" value="@album.Rating" />
				@AlbumHelpers.AlbumIconLink(album.Album)
			</td>
			<td>
				@AlbumHelpers.AlbumLink(album.Album)
				<br />
				<span class="extraInfo">@album.Album.ArtistString</span>
			</td>
			@if (showCollectionStatus) {
			<td>
				<div class="albumPurchaseStatusField">
					@Translate.AlbumCollectionStatusNames.GetName(album.PurchaseStatus)
				</div>
			</td>
			<td>
				<div class="albumMediaTypeField">
					@Translate.AlbumMediaTypeNames.GetName(album.MediaType)
				</div>
			</td>	
			}
			<td>
				<div class="albumRatingField">
					@Helpers.Stars(album.Rating, 5)				
				</div>
			</td>
			<td>
				@if (Login.Manager.IsLoggedIn && album.User.Id == Login.User.Id) {
					<a href="#" class="editAlbumLink editLink textLink">@ViewRes.SharedStrings.Edit</a>
				}
			</td>
		</tr>
	}	
	</tbody>
</table>

<div class="pager">
	@Html.Pager(Model)
</div>
