@using VocaDb.Web.Helpers
@model VocaDb.Web.Models.User.ComposeMessage

@using (Html.BeginForm("ComposeMessage", "User")) {

	<div class="editor-label">
		@Html.LabelFor(m => m.ReceiverName)
	</div>
	<div class="editor-field">
		@Html.TextBoxFor(m => m.ReceiverName, new { id = "receiverName", size = 30 })<br />
		@Html.ValidationMessageFor(m => m.ReceiverName)
	</div>

	<div class="editor-label">
		@Html.LabelFor(m => m.Subject)
	</div>
	<div class="editor-field">
		@Html.TextBoxFor(m => m.Subject, new { id = "newMessageSubject", size = 40, @class = "span3" })<br />
		@Html.ValidationMessageFor(m => m.Subject)

		<label class="checkbox">
			@Html.CheckBoxFor(m => m.HighPriority)
			@ViewRes.User.MessagesStrings.HighPriority
		</label>
	</div>

	<div class="editor-label">
		@Html.LabelFor(m => m.Body)
		@Helpers.MarkdownNotice()
	</div>
	<div class="editor-field">
		@Html.TextAreaForKnockout(m => m.Body, binding: "textInput: newMessageViewModel.body", cssClass: "span5", rows: 10, cols: 60)
		<br />
		@Html.ValidationMessageFor(m => m.Body)
		
		Live preview
		<div data-bind="markdown: newMessageViewModel.body"></div>
	</div>
	<br />

	<button type="submit" class="btn btn-primary">
		<i class="icon-envelope icon-white"></i>
		&nbsp;@ViewRes.User.MessagesStrings.Send
	</button>

}