@using System.Web.Optimization
@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models.Shared.Partials.Activityfeed
@inherits VocaDb.Web.Code.VocaDbPage<VocaDb.Model.DataContracts.Users.UserBaseContract>

@{
	PageProperties.Title = "Entry edits - " + Model.Name;
	ViewBag.Parents = new[] {
		Html.ActionLink("Users", "Index"),
		Html.ActionLink(Model.Name, "Details", new { id = Model.Id })
	};
}

<!-- Binding context: ActivityEntryListViewModel -->

<ul class="nav nav-pills">
	<li data-bind="css: { active: editEventFilter_all }">
		<a href="#" click="{{ function() { editEventFilter_all(true); } }}">All edits</a>
	</li>
	<li data-bind="css: { active: !editEventFilter_all() }">
		<a href="#" click="{{ function() { editEventFilter_all(false); } }}">Only additions</a>
	</li>
</ul>

<div data-bind="foreach: entries, show" class="js-cloak">
	@{ Html.RenderPartial("Partials/Activityfeed/_ActivityEntryKnockout", new ActivityEntryKnockoutViewModel("$parent.getEntryTypeName", "$parent.getActivityFeedEventName", "$parents[1].getChangedFieldNames", true)); }
</div>

<hr />
<h3>
	<a href="#" data-bind="click: loadMore">View more</a>
</h3>

@section BodyScripts {
	@LaravelMixHelper.RenderScripts("~/bundles/ActivityEntry/Index.js")
	<script type="text/javascript">
		$(function () {

			moment.locale('@Culture');
			ko.punches.enableAll();

			var urlMapper = new app.UrlMapper("@RootPath");
			var resourceRepo = new app.ResourceRepository('@RootPath');
			var languageSelection = '@UserContext.LanguagePreference';
			var cultureCode = '@UICulture';
			var userId = @Model.Id;
			var editEvent = @ToJS((int?)ViewBag.EditEvent);

			var vm = new app.ActivityEntryListViewModel(urlMapper, resourceRepo, languageSelection, cultureCode, userId, editEvent);
			ko.applyBindings(vm);

		});
	</script>
}