@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.Activityfeed
@using VocaDb.Web.Models.Shared.Partials.Knockout
@model VocaDb.Model.DataContracts.Users.UserBaseContract

@{
	PageProperties.Title = "Entry edits - " + Model.Name;
	ViewBag.Parents = new[] {
		Html.ActionLink("Users", "Index"),
		Html.ActionLink(Model.Name, "Details", new { id = Model.Id })
	};
}

<!-- Binding context: ActivityEntryListViewModel -->

<div class="form-horizontal well well-transparent">

	<div class="pull-right">
		<div class="inline-block">
			@ViewRes.EntryIndexStrings.SortBy
			<partial name="Partials/Knockout/_Dropdown" model="@(new DropdownViewModel(Translate.ActivityEntrySortRuleNames.ValuesAndNamesStrings, "sort", "sortName"))" />
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">@ViewRes.User.EntryEditsStrings.EntryType</div>
		<div class="controls">
			<partial name="Partials/Knockout/_DropdownList" model="@(new DropdownListViewModel(Translate.ActivityEntryTargetTypeNames.ValuesAndNamesStrings, "entryType"))" />
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: additionsOnly" />
				@ViewRes.User.EntryEditsStrings.OnlyAdditions
			</label>
		</div>
	</div>

</div>

<div data-bind="foreach: entries, show" class="js-cloak">
	<partial name="Partials/Activityfeed/_ActivityEntryKnockout" model="@(new ActivityEntryKnockoutViewModel("$parent.getEntryTypeName", "$parent.getActivityFeedEventName", "$parents[1].getChangedFieldNames", true))" />
</div>

<hr />
<h3>
	<a href="#" data-bind="click: loadMore">View more</a>
</h3>

@section BodyScripts {
	<script type="text/javascript">
		var additionsOnly = @ToJS((bool?)ViewBag.AdditionsOnly);
		var model = {
			id: @Model.Id,
		};
		app.UserEntryEdits(additionsOnly, model);
	</script>
}