@inherits VocaDb.Web.Code.VocaDbPage<SongDetails>
@using System.Web.Optimization
@using VocaDb.Model.DataContracts.Songs
@using VocaDb.Model.Domain.Songs
@using VocaDb.Model.Utils
@using VocaDb.Web.Models;
@using VocaDb.Web.Helpers;
@using VocaDb.Model.Domain.Security;
@using VocaDb.Model.Service.VideoServices
@using R = ViewRes.Song;
@using Res = ViewRes.Song.DetailsStrings;

@{	
	
	ViewBag.Parents = new[] { Html.ActionLink(ViewRes.SharedStrings.Songs, "Index", "Search", UrlMapper.Search.Songs(), null) };

	var showAlternateVersions = 3;
	
	var lyricsLanguages = string.Join(", ", Model.Lyrics.Select(l => l.Language).Distinct().Select(l => Translate.ContentLanguageSelectionName(l)));

	var url = PageProperties.CanonicalUrl;
	var eeLoveIt = Model.Name.Equals("love it!", StringComparison.InvariantCultureIgnoreCase);
	var favoriteText = eeLoveIt ? "Love It!" : Res.AddToFavorites;
	
}

@helper AlternateVersions(IEnumerable<SongContract> songs) {
	foreach (var alternateVersion in songs) {
		@SongHelpers.SongLink(alternateVersion)
		if (alternateVersion.LengthSeconds > 0) {
			@:(@VocaDb.Model.Helpers.DateTimeHelper.FormatMinSec(alternateVersion.LengthSeconds))
		}
		@SongHelpers.SongTypeLabel(alternateVersion.SongType)
		<br />
		@alternateVersion.ArtistString<br />
	}	
}

@helper SongAlbumLink(SongContract song, string icon, int albumId) {	
	<a href="@Url.Action("Details", "Song", new { id = song.Id, albumId })" class="btn" title="@song.AdditionalNames">
		<i class="@icon noMargin"></i>
		<span>@song.Name</span>		
	</a>
}

@section Head {
	<link rel="alternate" type="application/json+oembed" href="@(VocaDb.Model.Utils.AppConfig.HostAddress + Url.Action("OEmbed", "Ext", new { url = VocaDb.Model.Utils.AppConfig.HostAddress + Url.Action("Details", "Song", new { Model.Id }), format = "json" }))" title="@Model.Name" />	
	<link rel="alternate" type="text/xml+oembed" href="@(VocaDb.Model.Utils.AppConfig.HostAddress + Url.Action("OEmbed", "Ext", new { url = VocaDb.Model.Utils.AppConfig.HostAddress + Url.Action("Details", "Song", new { Model.Id }), format = "xml" }))" title="@Model.Name" />
	<link rel="canonical" href="@url" />
	@HtmlHelpers.OpenGraphMetaTags(PageProperties)
}

@section Toolbar {
@if (Model.OriginalPVs.Any() || Model.OtherPVs.Any()) {
	<div id="pvPlayer" class="song-pv-player">
		@Helpers.EmbedPV(Model.PrimaryPV)
	</div>
}

@if (Login.Manager.IsLoggedIn) {
	<span data-bind="with: userRating">
		<span data-bind="visible: isRatingFavorite" style="display: none;" class="icon heartIcon" title="@Translate.SongVoteRatingNames[SongVoteRating.Favorite]"></span>
		<span data-bind="visible: isRatingLike" style="display: none;" class="icon starIcon" title="@Translate.SongVoteRatingNames[SongVoteRating.Like]"></span>        
		<span data-bind="visible: isRated() == false" style="display: none;" class="js-ratingButtons">
			<a href="#" data-bind="click: setRating_like, jqButton: { icon: 'ui-icon-plus' }">@ViewRes.Song.DetailsStrings.Like</a>
			<a href="#" data-bind="click: setRating_favorite, jqButton: { icon: 'ui-icon-heart' }">@favoriteText</a>
		</span>
		<a href="#" data-bind="visible: isRated, click: setRating_nothing, jqButton: { icon: 'ui-icon-close' }" style="display: none;">@ViewRes.Song.DetailsStrings.RemoveFromFavorites</a>			
	</span>
	<a data-bind="click: songListDialog.showSongLists, jqButton: { icon: 'ui-icon-star' }" href="#" id="addToListLink">@ViewRes.Song.DetailsStrings.AddToCustomList</a>
} else {
	<span class="js-ratingButtons">
		<a data-bind="jqButton: { disabled: true, icon: 'ui-icon-plus' }" href="#">@ViewRes.Song.DetailsStrings.Like</a>
		<a data-bind="jqButton: { disabled: true, icon: 'ui-icon-heart' }" href="#">@ViewRes.Song.DetailsStrings.AddToFavorites</a>
	</span>
	<a data-bind="jqButton: { disabled: true, icon: 'ui-icon-star' }" href="#">@ViewRes.Song.DetailsStrings.AddToCustomList</a>	
}

<a data-bind="jqButton: { disabled: @ToJS(!Model.CanEdit), icon: 'ui-icon-wrench' }" href="@Url.Action("Edit", new { id = Model.Id })">@ViewRes.SharedStrings.Edit</a>	

@Html.ActionLink(ViewRes.EntryDetailsStrings.ViewModifications, "Versions", new { id = Model.Id }, new { id = "viewVersions" })

<a href="#" id="reportEntryLink" data-bind="click: reportViewModel.show">@ViewRes.EntryDetailsStrings.ReportAnError</a>

@Helpers.EntryStatusMessage(Model.Status)

@Helpers.AjaxLoader("pvLoader")	
}

@if (Model.Deleted) {
	@EntryDetailsHelpers.DeletedBanner(Model.MergedTo)
}

@if (Model.Draft && !Model.Deleted) {
	@Helpers.DraftMessage("glsongs")
}

<div id="tabs" class="js-cloak" data-bind="show">

	<ul>
		<li><a href="#basicInfoTab">@ViewRes.EntryDetailsStrings.BasicInfoTab</a></li>
		@if (Model.Lyrics.Any()) {
			<li><a href="#lyricsTab">@ViewRes.Song.DetailsStrings.Lyrics (@lyricsLanguages)</a></li>			
		}
		<li data-tab="Discussion">
			<a href="#discussionTab">@ViewRes.EntryDetailsStrings.DiscussionTab (@Model.CommentCount)</a>
		</li>
		<li data-tab="Related">
			<a href="@Url.Action("Related", "Song", new { id = Model.Id })">@R.DetailsStrings.RelatedSongs</a>
		</li>
		<li><a href="#shareTab">@R.DetailsStrings.Share</a></li>
	</ul>

	<div id="basicInfoTab">
		<table>
			<tr>
				<td class="entry-field-label-col">@ViewRes.SharedStrings.Name</td>
				<td>
					@Model.Name<br />
					<span class="extraInfo">@Model.AdditionalNames</span>
				</td>	
			</tr>
			@if (Model.Performers.Any()) {
			<tr>
				<td>@ViewRes.Song.DetailsStrings.Vocalists</td>
				<td class="artistList">
					@ArtistHelpers.ArtistList(Model.Performers, showType: true)
				</td>
			</tr>
   }

			@if (Model.Producers.Any()) {
			<tr>
				<td>@ViewRes.Song.DetailsStrings.Producers</td>
				<td class="artistList">
					@ArtistHelpers.ArtistList(Model.Producers, showRoles: (Model.Producers.Length > 1))
				</td>
			</tr>
   }
   
			@if (Model.Bands.Any()) {
				<tr>
					<td>@Res.Band</td>
					<td class="artistList">
						@ArtistHelpers.ArtistList(Model.Bands)
					</td>
				</tr>
			}


			@if (Model.Animators.Any()) {
			<tr>
				<td>@ViewRes.Song.DetailsStrings.Animators</td>
				<td class="artistList">
					@ArtistHelpers.ArtistList(Model.Animators)
				</td>
			</tr>
   }
			
			@if (Model.OtherArtists.Any()) {
			<tr>
				<td>@ViewRes.Song.DetailsStrings.OtherArtists</td>
				<td class="artistList">
					@ArtistHelpers.ArtistList(Model.OtherArtists, true)
				</td>
			</tr>
   }

			<tr>
				<td>@ViewRes.SharedStrings.Type</td>
				<td>
					@SongHelpers.SongTypeLabel(Model.SongType)
					@Html.ActionLink(Translate.SongTypeNames[Model.SongType], "Index", "Search", UrlMapper.Search.Songs(songType: Model.SongType), null)
				</td>
			</tr>
			
			@if (Model.Length > 0) {
				<tr>
					<td>@R.DetailsStrings.Duration</td>
					<td>
						@DateTimeUtils.FormatFromSeconds(Model.Length)
					</td>
				</tr>
   }

			@if (Model.Albums.Any()) {
			<tr>
				<td>@ViewRes.SharedStrings.Albums</td>
				<td id="albumList">
					@Html.LinkList(Model.Albums, album => Html.ActionLink(album.Name, "Details", "Album",
						new RouteValueDictionary { { "id", album.Id } }, new Dictionary<string, object> { { "title", album.AdditionalNames }, { "data-entry-id", album.Id } }))
				</td>
			</tr>
   }
			
			<tr>
				<td>@ViewRes.SharedStrings.Tags</td>
				<td>
					<div data-bind="with: tagUsages" class="entry-tag-usages">
						@{ Html.RenderPartial("Partials/_TagList"); }
					</div>
					<a data-bind="jqButton: { disabled: @ToJS(!Login.Manager.IsLoggedIn), icon: 'ui-icon-tag' }, click: tagsEditViewModel.show" href="#">@ViewRes.EntryDetailsStrings.EditTags</a>
					@if (Login.Manager.HasPermission(PermissionToken.RemoveTagUsages)) {
						@Html.ActionLink(ViewRes.EntryDetailsStrings.ManageTags, "ManageTagUsages", new { id = Model.Id }, new { id = "manageTags" })
					}
				</td>
			</tr>
			
			@if (Model.ListCount > 0) {
				<tr>
					<td>@Res.PoolsAndLists</td>
					<td>
						@Html.LinkList(Model.Pools, pool => Html.ActionLink(pool.Name, "Details", "SongList", new { id = pool.Id }, null))
						@if (Model.Pools.Any()) {
							@:-
						}
						<a id="songInListsLink" data-bind="click: songInListsDialog.show" href="#">
							@string.Format(Res.ViewAllLists, Model.ListCount)
						</a>
					</td>
				</tr>
			}	   

			@if (Model.OriginalPVs.Any()) {
			<tr>
				<td>@Res.OriginalMedia</td>
				<td>
					@PVList(Model.OriginalPVs, false)		
				</td>
			</tr>
			}

			@if (Model.OtherPVs.Any()) {
			<tr>
				<td>@Res.OtherMedia</td>
				<td>
					@PVList(Model.OtherPVs, true)		
				</td>
			</tr>
   }
			
			@EntryDetailsHelpers.ExternalLinksRows(Model.WebLinks)
			
			<tr data-bind="if: originalVersion().entry">
				<td>@ViewRes.Song.DetailsStrings.OriginalVersion</td>
				<td>
					@SongHelpers.SongLinkKnockout("originalVersion().entry", "originalVersion().url")
					<span data-bind="songTypeLabel: originalVersion().entry.songType"></span>
					<br />
					<span data-bind="text: originalVersion().entry.artistString"></span>
				</td>
			</tr>

			@if (Model.AlternateVersions.Any()) {
			<tr>
				<td>@ViewRes.Song.DetailsStrings.AlternateVersions</td>
				<td>
					@AlternateVersions(Model.AlternateVersions.Take(showAlternateVersions))
					@if (Model.AlternateVersions.Length > showAlternateVersions) {
						<a href="#" data-bind="visible: !allVersionsVisible(), click: showAllVersions">@R.DetailsStrings.ShowAllVersions (@Model.AlternateVersions.Length)</a>
						<div style="display: none;" data-bind="visible: allVersionsVisible">
							@AlternateVersions(Model.AlternateVersions.Skip(showAlternateVersions))
						</div>
	 }		
				</td>
			</tr>
   }
			
			@if (!Model.Notes.IsEmpty) {
			<tr>
				<td>@ViewRes.Song.DetailsStrings.Notes</td>
				<td class="entry-description" data-bind="with: description">
					@{ Html.RenderPartial("Partials/_EnglishTranslatedString", Model.Notes); }
				</td>	
			</tr>
   }			
   
			<tr>
				<td>@ViewRes.EntryDetailsStrings.Stats</td>
				<td>
					<a href="#" id="statsLink" data-bind="click: getUsers">
						@string.Format(Res.Favorites, Model.FavoritedTimes),
						@string.Format(Res.Likes, Model.LikedTimes),
					</a>
					@string.Format(ViewRes.EntryDetailsStrings.Hits, Model.Hits),
					@string.Format(Res.TotalScore, Model.RatingScore).
				</td>
			</tr>

			@if (Model.PublishDate.HasValue) {
			<tr>
				<td>@ViewRes.EntryDetailsStrings.PublishDate</td>
				<td>
					@Model.PublishDate.Value.ToShortDateString()
				</td>
			</tr>				
			}

			<tr>
				<td>@ViewRes.EntryDetailsStrings.AdditionDate</td>
				<td>
					@Helpers.UniversalTimeLabel(Model.CreateDate)
				</td>	
			</tr>
			
			@if (Model.Contract.AlbumSong != null) {
			<tr>
				<td>@Res.Navigation</td>
				<td>
					<p>
						@if (Model.Contract.AlbumSong.DiscNumber > 1) {
							@Html.Raw(string.Format(Res.TrackOnAlbumDisc, Model.Contract.AlbumSong.TrackNumber, Model.Contract.AlbumSong.DiscNumber, AlbumHelpers.AlbumLink(Model.Contract.Album)))
						} else {
							@Html.Raw(string.Format(Res.TrackOnAlbum, Model.Contract.AlbumSong.TrackNumber, AlbumHelpers.AlbumLink(Model.Contract.Album)))
						}
					</p>
					@if (Model.Contract.PreviousSong != null) {
			@SongAlbumLink(Model.Contract.PreviousSong.Song, "icon-fast-backward", Model.Contract.Album.Id)
					}

					@if (Model.Contract.NextSong != null) {
				@SongAlbumLink(Model.Contract.NextSong.Song, "icon-fast-forward", Model.Contract.Album.Id)
					}
				</td>

			</tr>
			}

		</table>
		
		@if (Model.Suggestions.Any()) {
			<h3 class="withMargin">@Res.SuggestionsTitle</h3>
			@SongHelpers.SongGrid(Model.Suggestions, 2, true, true)
			<p>
				<a href="#" id="viewRelatedLink">@Res.SeeRelatedSongs</a>
			</p>
		}

		@CommentHelpers.LatestCommentsKnockout()
		
		<p>
			<a href="#" id="viewCommentsLink">@ViewRes.EntryDetailsStrings.ViewAllComments</a>
		</p>

	</div>

	@if (Model.Lyrics.Any()) {
		<div id="lyricsTab" style="height: 400px; overflow: auto">
			<ul class="nav nav-pills">
				@foreach (var lyrics in Model.Lyrics) {
					<li data-bind="css: { active: selectedLyricsId() == @lyrics.Id }">
						<a href="#" data-bind="click: function() { selectedLyricsId(@lyrics.Id); }">
							@Translate.ContentLanguageSelectionName(lyrics.Language)							
						</a>
					</li>
				}
			</ul>

			@foreach (var lyrics in Model.Lyrics) {
				<div data-bind="visible: selectedLyricsId() == @lyrics.Id">
					@if (!string.IsNullOrEmpty(lyrics.Source)) {
						<p>(@Res.LyricsFrom @Html.Raw(ViewHelper.ParseBBCode(lyrics.Source)))</p>
					}
					<p>@Helpers.ConvertNewlinesToBreaks(lyrics.Value)</p>
				</div>
			}
		</div>
	 }
	 
	<div id="discussionTab" data-bind="with: comments">
		@CommentHelpers.EditableComments(UserContext.HasPermission(PermissionToken.CreateComments), well: false)
	</div>	 
	
	<div id="shareTab">
		<div>
			<label>
				@ViewRes.EntryDetailsStrings.Social<br />
				@EntryDetailsHelpers.LargeShareLinks(PageProperties.Title, url)
				<br /><br />
			</label>
		</div>
		<div>
			@R.DetailsStrings.Link<br />
			<input type="text" value="@url" class="input-large" onclick="this.select();" />
		</div>
		<div>
			<a href="http://daringfireball.net/projects/markdown/">Markdown</a><br />
			<input type="text" value="@VocaDb.Model.Service.Helpers.MarkdownHelper.CreateMarkdownLink(url, Model.Name)" class="input-xxlarge" onclick="this.select();" />
		</div>
		<div>
			@R.DetailsStrings.Embed<br />
			<textarea class="input-xxlarge" rows="3">@(string.Format("<iframe style=\"overflow: hidden;\" src=\"http://vocadb.net/Ext/EmbedSong?songId={0}&lang={1}\" height=\"400\" width=\"570\" frameborder=\"0\" scrolling=\"no\"></iframe>", Model.Id, Login.Manager.LanguagePreference))</textarea>
		</div>
	</div>

</div>

<div data-bind="with: tagsEditViewModel">
	@{ Html.RenderPartial("Partials/_TagsEdit"); }
</div>

@{ Html.RenderPartial("Partials/_AddToListDialog"); }

<div data-bind="dialog: {autoOpen: false, modal: true, width: 400, position: { my: 'left top', at: 'left bottom', of: $('#statsLink') } }, dialogVisible: $root.usersPopupVisible" title="@R.DetailsStrings.SongRatings" style="display:none;">
	
	<div data-bind="html: usersContent"></div>

</div>

@{ Html.RenderPartial("Partials/_SongInListsDialog"); }

@EntryDetailsHelpers.ReportEntryPopupKnockout()

@section BodyScripts {
	@Scripts.Render("~/bundles/Song/Details")
	<script type="text/javascript">

	$(document).ready(function() {

		moment.locale('@Culture');

		var resources = @ResourceHelpers.ToJSON(AjaxRes.SongStrings.ResourceManager, true);
		vdb.resources.song = resources;

		var jsonModel = @Html.Raw(Model.Json);
		var rootPath = '@RootPath';
		var urlMapper = new vdb.UrlMapper(rootPath);
		var repo = new vdb.repositories.SongRepository(rootPath, @LanguagePreferenceInt);
		var userRepo = new vdb.repositories.UserRepository(urlMapper);
		var canDeleteAllComments = @ToJS(UserContext.HasPermission(PermissionToken.DeleteComments));

		var reportTypes = @ToJS(ReportUtils.GetReportTypes(Translate.SongReportTypeNames, SongReport.ReportTypesWithRequiredNotes));

		var viewModel = new vdb.viewModels.SongDetailsViewModel(repo, userRepo, resources,
			@ToJS(Model.Notes.ShowEnglish(UserContext.LanguagePreference)),
			jsonModel,
			reportTypes,
			@UserContext.LoggedUserId, 
			@LanguagePreferenceInt, 
			canDeleteAllComments, vdb.ui.showThankYouForRatingMessage);
		ko.applyBindings(viewModel);

		viewModel.songListDialog.addedToList = function() { vdb.ui.showSuccessMessage(resources.addedToList); };

		initPage(jsonModel, @Model.Id, "@ViewRes.SharedStrings.Save", urlMapper, viewModel);
	});

</script>
}

@helper PVList(IEnumerable<VocaDb.Model.DataContracts.PVs.PVContract> pvs, bool showPVType) {

	foreach (var pv in pvs) {
		<a href="#" class="pvLink btn" id="pv_@(pv.Id)" data-bind="css: { active: selectedPvId() == @pv.Id }, click: function () { selectedPvId(@pv.Id); }"
		   title="@(pv.PublishDate.HasValue && !string.IsNullOrEmpty(pv.Author) ? string.Format(Res.PVDescription, pv.PublishDate.Value.ToShortDateString(), pv.Author) : "")">
			<img src="@Html.VideoServiceLinkUrl(pv.Service)" alt="@pv.Service" />
			@(!string.IsNullOrEmpty(pv.Name) ? pv.Name : pv.Service.ToString())
			@if (showPVType) {
				@("(" + Translate.PVTypeNames[pv.PVType] + ")")
			}
		</a>
		if (VideoServiceHelper.ShowExternalSiteLink(pv.Service)) {
			@Html.Raw("&nbsp;")
			@("(")<a href="@pv.Url">@ViewRes.Song.DetailsStrings.ViewExternal</a>@(")")			 
		}
		<br />
	}

}