@model VocaDb.Model.DataContracts.UseCases.UsersWithSongRatingContract

@if (Model.FavoritedBy.Any()) {
	<h4>@ViewRes.Song.DetailsStrings.FavoritedByTitle @string.Format(ViewRes.EntryDetailsStrings.NumTotalParenthesis, Model.FavoritedBy.Length)</h4>

	@UserHelpers.UserGrid(Model.FavoritedBy.Take(20), 2)
}

@if (Model.LikedBy.Any()) {
	<h4>@ViewRes.Song.DetailsStrings.LikedByTitle @string.Format(ViewRes.EntryDetailsStrings.NumTotalParenthesis, Model.LikedBy.Length)</h4>

	@UserHelpers.UserGrid(Model.LikedBy.Take(20), 2)
}

@if (Model.HiddenRatingCount > 0) {
	<h4>@Model.HiddenRatingCount hidden ratings</h4>
}