@inherits VocaDb.Web.Code.VocaDbPage<VocaDb.Web.Models.SongLists.CreateFromWVR>
@using Res = VocaDb.Web.Resources.Views.SongList.ImportNicoMylistStrings;

@{
	PageProperties.Title = Res.Title;
}

@Helpers.ValidationSymmaryDiv(Res.UnableToParse)

@using (Html.BeginForm("CreateFromWVR", "SongList", new { commit = false }, FormMethod.Post, new { @class = "form-horizontal" })) {

	<div class="control-group">
		<div class="control-label">@Res.UrlLabel</div>
		<div class="controls">
			@Html.TextBoxFor(m => m.Url, new { size = 60, @class = "input-xlarge" })
			<br />
			<small>@Res.UrlDescription</small>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox inline">
				@Html.CheckBoxFor(m => m.OnlyRanked)
				@Html.LabelFor(m => m.OnlyRanked, Res.OnlyRanked)
			</label>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button class="btn btn-primary">@Res.Process</button>
			@Html.ValidationMessageFor(m => m.Url)
		</div>
	</div>

}

@using (Html.BeginForm(new { commit = true })) {

	@Html.HiddenFor(m => m.Url)

	if (Model.ListResult != null) {

		<h4>@Res.MylistDescription</h4>
		<p>Name: @Model.ListResult.Name</p>
		<p>Description: @Model.ListResult.Description</p>

		if (Model.ListResult.WVRNumber > 0) {
			<p>Rankings number: @Model.ListResult.WVRNumber</p>	 
		}

		<h4 class="withMargin">@Res.SongsInList</h4>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>@Res.Order</th>
					<th>@Res.NicoPV</th>
					<th>@Res.VocaDbEntry</th>
				</tr>
			</thead>
			@foreach (var row in Model.ListResult.Entries) {
				<tr>
					<td>@row.Order</td>
					<td><a href="@row.Url">@row.Name</a></td>
					<td>
						@if (row.Song != null) {
							@SongHelpers.SongLink(row.Song)
						} else {
							<span>@Res.SongMissing</span>
							@("(")
							@Html.ActionLink(Res.Submit, "Create", "Song", new { PVUrl = row.Url }, null)
							@(")")
						}
					</td>
				</tr>
			}

		</table>

		if (!Model.ListResult.IsIncomplete) {
			<p>
				<button type="submit" class="btn btn-primary">@Res.Accept</button>
			</p>
		}

	}

}