@using System.Web.Optimization
@using VocaDb.Model.Domain.Security
@using VocaDb.Model.Domain.Songs
@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models.SongLists
@using Res = ViewRes.SongList.FeaturedStrings;
@inherits VocaDb.Web.Code.VocaDbPage<FeaturedViewModel>

@{
    PageProperties.Title = ViewRes.SharedStrings.FeaturedSongLists;	
	var categories = Translate.SongListFeaturedCategoryNames.AllFields.Where(f => f.Id != SongListFeaturedCategory.Nothing).ToArray();
}

@section Toolbar {
	@if (Login.Manager.HasPermission(PermissionToken.EditFeaturedLists)) {
		@Html.ActionLink(ViewRes.User.DetailsStrings.CreateNewList, "Edit", null, new { id = "createLink" })
	}
	@if (Login.Manager.HasPermission(PermissionToken.EditProfile)) {
		@Html.ActionLink(Res.Import, "Import", null, new { id = "importLink" })
	}
}

<ul class="nav nav-pills">
	@foreach (var cat in categories) {
		<li data-bind="css: { active: category() == '@cat.Id' }">
			<a href="@("#" + cat.Id)" data-bind="click: function() { setCategory('@cat.Id'); }">@cat.Name</a>
		</li>
	}
</ul>

@foreach (var cat in categories) {
<div data-bind="visible: category() == '@cat.Id', with: categories['@cat.Id'], show" class="js-cloak">
		
	@{ Html.RenderPartial("Partials/_SongListsFilters"); }

	@SongHelpers.SongListsKnockout("items", groupByYear: true)

	<h3 visible="{{ hasMore }}"><a href="#" data-bind="click: loadMore">@ViewRes.SharedStrings.ShowMore</a></h3>

</div>
}

@section BodyScripts {
@Scripts.Render("~/bundles/SongList/Featured")
<script type="text/javascript">
	
	moment.locale('@Culture');
	ko.punches.enableAll();

	$(function () {

		$("#createLink").button({ icons: { primary: 'ui-icon-plusthick' } });
		$("#importLink").button({ icons: { primary: 'ui-icon-plusthick' } });
		
		var cultureCode = '@UICulture';
		var tagIds = @ToJS(Model.TagId);

		var languageSelection = '@UserContext.LanguagePreference';
		var rootPath = '@RootPath';
		var urlMapper = new vdb.UrlMapper(rootPath);
		var repoFactory = new vdb.repositories.RepositoryFactory(urlMapper, @LanguagePreferenceInt, @UserContext.LoggedUserId);
		var songListRepo = repoFactory.songListRepository();
		var resourceRepo = repoFactory.resourceRepository();
		var tagRepo = repoFactory.tagRepository();
		var categories = @ToJS(categories.Select(c => c.Id.ToString()));
		var viewModel = new vdb.viewModels.songList.FeaturedSongListsViewModel(songListRepo, resourceRepo, tagRepo, languageSelection, cultureCode, tagIds, categories);
		ko.applyBindings(viewModel);

		if (window.location.hash && window.location.hash.length >= 1) {
			viewModel.setCategory(window.location.hash.substr(1));
		}

	});

</script>
}

@section Head {
	<link rel="canonical" href="@UrlMapper.FullAbsolute(Url.Action("Featured"))" />
}