@using VocaDb.Model.Domain.Security
@using VocaDb.Model.Domain.Songs
@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.Song
@using VocaDb.Web.Models.SongLists
@using Res = ViewRes.SongList.FeaturedStrings
@model FeaturedViewModel

@{
    PageProperties.Title = ViewRes.SharedStrings.FeaturedSongLists;	
	var categories = Translate.SongListFeaturedCategoryNames.AllFields.Where(f => f.Id != SongListFeaturedCategory.Nothing).ToArray();
}

@section Toolbar {
	@if (Login.Manager.HasPermission(PermissionToken.EditFeaturedLists)) {
		<a asp-action="Edit" id="@("createLink")">@(ViewRes.User.DetailsStrings.CreateNewList)</a>
	}
	@if (Login.Manager.HasPermission(PermissionToken.EditProfile)) {
		<a asp-action="Import" id="@("importLink")">@(Res.Import)</a>
	}
}

<ul class="nav nav-pills">
	@foreach (var cat in categories) {
		<li data-bind="css: { active: category() == '@cat.Id' }">
			<a href="@("#" + cat.Id)" data-bind="click: function() { setCategory('@cat.Id'); }">@cat.Name</a>
		</li>
	}
</ul>

@foreach (var cat in categories) {
<div data-bind="visible: category() == '@cat.Id', with: categories['@cat.Id'], show" class="js-cloak">
		
	<partial name="Partials/_SongListsFilters" />

	<partial name="Partials/Song/_SongListsKnockout" model="@(new SongListsKnockoutViewModel("items", groupByYear: true))" />

	<h3 visible="{{ hasMore }}"><a href="#" data-bind="click: loadMore">@ViewRes.SharedStrings.ShowMore</a></h3>

</div>
}

@section BodyScripts {
<remikus path="/bundles/SongList/Featured.js" />
<script type="text/javascript">
	var categories = @ToJS(categories.Select(c => c.Id.ToString()));
	var model = {
		tagId: @ToJS(Model.TagId),
	};
	app.SongListFeatured(categories, model);
</script>
}

@section Head {
	<link rel="canonical" href="@UrlMapper.FullAbsolute(Url.Action("Featured"))" />
}