@using VocaDb.Model.Domain.Artists;
@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models.Shared.Partials.Artist;
@model ArtistTypeLabelViewModel

@{
	var title = Translate.ArtistTypeName(Model.ArtistType);
	switch (Model.ArtistType)
	{
		case ArtistType.Vocaloid:
			<span class="label label-info" title="@title">V</span>
			break;

		case ArtistType.UTAU:
			<span class="label label-important" title="@title">U</span>
			break;

		case ArtistType.CeVIO:
			<span class="label label-success" title="@title">C</span>
			break;

		case ArtistType.OtherVoiceSynthesizer:
			<span class="label label-inverse" title="@title">O</span>
			break;

		case ArtistType.Utaite:
			<span class="label label-info" title="@title">U</span>
			break;

		case ArtistType.OtherVocalist:
			<span class="label" title="@title">O</span>
			break;
	}
}