@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models.Shared.Partials.ArchivedEntry;
@using VocaDb.Web.Models.Shared.Partials.Artist;
@model PrintArchivedArtistDataViewModel

<div class="well well-transparent archived-entry-contents">
	<h4>Content</h4>

	<table class="table table-bordered">
		@Html.Partial("Partials/ArchivedEntry/_DataRow", new DataRowViewModel("Id", Model.ComparedArtists.FirstData.Id))
		@Html.PictureRow("Main picture", Model.ComparedArtists, id => Url.Action("ArchivedVersionPicture", "Artist", new { id }))
		@Html.DataRow("Main picture MIME", Model.ComparedArtists, d => d.MainPictureMime)
		@Html.TranslatedNameRow(Model.ComparedArtists, d => d.TranslatedName)
		@Html.DataRowList("Names", Model.ComparedArtists, d => DataFormatUtils.GenerateHtml(d.Names, name => Html.Partial("Partials/ArchivedEntry/_NameInfo", new NameInfoViewModel(name))))
		@Html.DataRow("Description", Model.ComparedArtists, d => d.Description, preserveLineBreaks: true)
		@Html.DataRow("Description (en)", Model.ComparedArtists, d => d.DescriptionEng, preserveLineBreaks: true)
		@Html.DataRow("Release date", Model.ComparedArtists, d => d.ReleaseDate)
		@Html.DataRow("Artist type", Model.ComparedArtists, d => Translate.ArtistTypeName(d.ArtistType))
		@Html.DataRowList("External links", Model.ComparedArtists, d => DataFormatUtils.GenerateHtml(d.WebLinks, webLink => Html.Partial("Partials/ArchivedEntry/_WebLinkInfo", new WebLinkInfoViewModel(webLink))))
		@Html.DataRow("Base voicebank", Model.ComparedArtists, d => Html.Partial("Partials/ArchivedEntry/_ObjectRefInfo", new ObjectRefInfoViewModel(d.BaseVoicebank)))
		@Html.DataRowList("Associated artists", Model.ComparedArtists, d => DataFormatUtils.GenerateHtml(d.Groups, g => MvcHtmlString.Create(g.NameHint + " [" + g.Id + "] (" + g.LinkType + ")")))
		@Html.ObjectRefList("Members", Model.ComparedArtists, d => d.Members)
		@Html.DataRowList("Pictures", Model.ComparedArtists, d => DataFormatUtils.GenerateHtml(d.Pictures, picture => Html.Partial("Partials/ArchivedEntry/_PictureFileInfo", new PictureFileInfoViewModel(picture))))
	</table>

</div>