@using VocaDb.Model.Domain.Security
@inherits VocaDb.Web.Code.VocaDbPage

@functions {

	bool HasPermission(PermissionToken token) {
		return UserContext.HasPermission(token);
	}

}

<h3>Common tasks</h3>

<p><a asp-action="Index" asp-controller="User">@("View users list")</a></p>

<p><a asp-action="Index" asp-controller="Comment">@("View recent comments")</a></p>	

@if (UserContext.HasPermission(PermissionToken.ViewAuditLog)) {
<p><a asp-action="ViewAuditLog">@("View audit log")</a></p>
}

@if (HasPermission(PermissionToken.ManageTagMappings)) {
	<p><a asp-action="ManageTagMappings">@("Manage tag mappings")</a></p>
	<p><a asp-action="ManageEntryTagMappings">@("Manage entry type to tag mappings")</a></p>
}

@if (UserContext.HasPermission(PermissionToken.ManageEntryReports)) {
<p><a asp-action="ViewEntryReports">@("Manage entry reports")</a></p>	
}

@if (UserContext.HasPermission(PermissionToken.BulkDeletePVs)) {
<p><a asp-action="PVsByAuthor">@("Delete PVs by author")</a></p>	
}

@if (UserContext.HasPermission(PermissionToken.MoveToTrash)) {
	<p><a asp-action="Deleted" asp-controller="Album">@("Manage deleted albums")</a></p>
}

@if (UserContext.HasPermission(PermissionToken.ManageIPRules)) {
<p><a asp-action="ManageIPRules">@("Manage IP rules")</a></p>	
}

@if (UserContext.HasPermission(PermissionToken.ManageWebhooks)) {
<p><a asp-action="ManageWebhooks">Manage webhooks</a></p>
}
<br />

@if (UserContext.HasPermission(PermissionToken.Admin)) {
<h3>Database maintenance tasks</h3>
<p>
	<a asp-action="ActiveEdits">@("View active editors")</a>	
</p>
<p>
	<a asp-action="CreateXmlDump">@("Create XML dump")</a>
</p>	
<p>
	<a asp-action="RefreshDbCache">@("Refresh NHibernate 2nd level cache")</a>
</p>
<p>
	<a asp-action="ClearCaches">@("Refresh .NET memory cache")</a>
</p>

@*
	<p>
		<a asp-action="CleanupOldLogEntries">@("Cleanup old log entries")</a>
	</p>
	<p>
		<a asp-action="CreateMissingThumbs">@("Missing thumbs")</a>
	</p>
	<p>
	<a asp-action="GeneratePictureThumbs">@("Generate image thumbnails")</a>
	</p>
	<p>
	<a asp-action="UpdateAdditionalNames">@("Update entry sort names")</a>
	</p>
	<p>
	<a asp-action="UpdateNicoIds">@("Update NicoIDs")</a>
	</p>
	<p>
	<a asp-action="UpdateArtistStrings">@("Update all artist strings")</a>
	</p>
	<p>
	<a asp-action="UpdateAlbumRatingTotals">@("Update album ratings")</a>
	</p>
	<p>
	<a asp-action="UpdateLinkCategories">@("Update link categories")</a>
	</p>
	<p>
	<a asp-action="UpdatePVIcons">@("Update PV Icons")</a>
	</p>
	<p>
	<a asp-action="UpdateSongFavoritedTimes">@("Update favorited song counts")</a>
	</p>
	<p>
	<a asp-action="UpdateTagVoteCounts">@("Update tag vote counts")</a>
	</p>
*@
}
