@using System.Web.Optimization
@inherits VocaDb.Web.Code.VocaDbPage

@{
    PageProperties.Title = "Manage tag mappings";
    ViewBag.Parents = new[] { 
		Html.ActionLink("Manage", "Index"), 
	};    
}

<form data-bind="submit: save, show" class="js-cloak">
    
	@Helpers.SaveBtn()
	
	<table>
		<tr>
			<th>Source</th>
			<th>Target</th>
			<th></th>
		</tr>
		<tbody data-bind="foreach: mappings">
			<tr>
				<td>
					{{sourceTag}}
				</td>
				<td>
					<a href="{{$parent.getTagUrl($data)}}">{{tag.name}}</a>
				</td>
				<td>
					<button class="btn btn-danger" data-bind="click: $parent.mappings.remove">Delete</button>
				</td>
			</tr>
		</tbody>
		<tr>
			<td>
				<input type="text" maxlength="200" textInput="{{newSourceName}}" />
			</td>
			<td>
				@KnockoutHelpers.BasicEntryLinkLockingAutoComplete("tagAutoComplete", "newTargetTag")
			</td>
			<td>
				<button type="button" class="btn btn-danger" data-bind="click: addMapping">Add</button>				
			</td>
		</tr>
	</table>

	@Helpers.SaveBtn()
	
</form>

@section BodyScripts {
	@Scripts.Render("~/bundles/shared/edit")
	<script type="text/javascript" src="@Url.Content("~/Scripts/KnockoutExtensions/TagAutoComplete.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/ViewModels/Admin/ManageTagMappingsViewModel.js")"></script>
	<script type="text/javascript">
	$(function () {

		ko.punches.enableAll();

		var urlMapper = new vdb.UrlMapper('@RootPath');

		var viewModel = new vdb.viewModels.admin.ManageTagMappingsViewModel(urlMapper);
    	ko.applyBindings(viewModel);

	});
	</script>
}