@inherits VocaDb.Web.Code.VocaDbPage<EntryReportContract[]>
@using VocaDb.Model.DataContracts
@using VocaDb.Web.Helpers;

@{
	PageProperties.Title = "View entry reports";
}

<div class="alert alert-info">
	This list contains entries that have been reported for errors. 
	<b>The list is shared between all trusted users and moderators, and anyone can take action based on these reported issues.</b>
	If you have time, please check that the reports are valid, and either notify the user who created the entry in the first place,
	or correct the errors yourself. After the issue has been resolved you can delete the report, but not before.
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Time</th>
			<th>Author</th>
			<th>Entry</th>
			<th>Type</th>
			<th>Notes</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var r in Model) {			
			<tr>
				<td>@r.Created</td>
				<td>@UserHelpers.UserIconLink(r.User, r.Hostname)</td>
				<td>
					<a href="@Url.EntryDetails(r.Entry)" title="@r.Entry.AdditionalNames">@r.Entry.Name</a>
					
					@if (r.Version != null) {
						var versionUrl = Url.Action("ViewVersion", r.Entry.EntryType.ToString(), new { id = r.Version.Id });
						@:(<a href="@versionUrl">Version @r.Version.Version</a>)
					}
				</td>
				<td>@r.ReportTypeName</td>
				<td>@r.Notes</td>
				<td><a href="@Url.Action("DeleteEntryReport", new { id = r.Id })" class="textLink deleteLink">Delete</a></td>
			</tr>
		}
	</tbody>
</table>
