@using Res = ViewRes.Artist.DetailsStrings

<div data-bind="
		dialog: {
			autoOpen: false, width: 400, height: 160,
			position: { my: 'left top', at: 'left bottom', of: $('#customizeSubscription') }
		},
		dialogVisible: customizeSubscriptionDialog.dialogVisible"
	 title="@Res.CustomizeSubscriptionTitle" style="display:none;">

	<div data-bind="with: customizeSubscriptionDialog">
		<p>@Res.SubscriptionOptions</p>

		<label>
			<input type="radio" value="Nothing" data-bind="checked: notificationsMethod" />
			@Res.SubscriptionNoNotification
		</label>
		<label>
			<input type="radio" value="Site" data-bind="checked: notificationsMethod" />
			@Res.SubscriptionOnSite
		</label>
		<label>
			<input type="radio" value="Email" data-bind="checked: notificationsMethod" />
			@Res.SubscriptionEmail
		</label>
	</div>

</div>