@using System.Globalization
@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.ArchivedEntry
@using VocaDb.Web.Models.Shared.Partials.Venue
@model PrintArchivedVenueDataViewModel

<div class="well well-transparent archived-entry-contents">
	<h4>Content</h4>

	<table class="table table-bordered">
		@Html.Partial("Partials/ArchivedEntry/_DataRow", new DataRowViewModel("Id", Model.ComparedVenues.FirstData.Id))
		@Html.TranslatedNameRow(Model.ComparedVenues, d => d.TranslatedName)
		@Html.DataRowList("Names", Model.ComparedVenues, d => DataFormatUtils.GenerateHtml(d.Names, name => Html.Partial("Partials/ArchivedEntry/_NameInfo", new NameInfoViewModel(name))))
		@Html.DataRow("Description", Model.ComparedVenues, d => d.Description)
		@Html.DataRow("Coordinates", Model.ComparedVenues, d => ((d.Coordinates != null) && d.Coordinates.HasValue) ? d.Coordinates.Formatted : string.Empty)
		@Html.DataRow("Country/Region", Model.ComparedVenues, d => !string.IsNullOrEmpty(d.AddressCountryCode) ? new RegionInfo(d.AddressCountryCode).DisplayName : string.Empty)
		@Html.DataRow("Address", Model.ComparedVenues, d => d.Address)
		@Html.DataRowList("External links", Model.ComparedVenues, d => DataFormatUtils.GenerateHtml(d.WebLinks, webLink => Html.Partial("Partials/ArchivedEntry/_WebLinkInfo", new WebLinkInfoViewModel(webLink))))
	</table>

</div>