@using Res = ViewRes.SongList.FeaturedStrings;

<div class="clearfix song-lists-filters">
	<div class="pull-left">
		<span>@Res.SortBy</span>
		<div class="btn-group">
			<a data-bind="click: function() { sort('Date'); }, css: { active: sort() == 'Date' }" visible="{{ showEventDateSort }}" class="btn" href="#">
				@VocaDb.Web.Resources.Views.SongList.SongListSortRuleNames.Date
			</a>
			<a data-bind="click: function() { sort('CreateDate'); }, css: { active: sort() == 'CreateDate' }" class="btn" href="#">
				@VocaDb.Web.Resources.Views.SongList.SongListSortRuleNames.CreateDate
			</a>
			<a data-bind="click: function() { sort('Name'); }, css: { active: sort() == 'Name' }" class="btn" href="#">
				@VocaDb.Web.Resources.Views.SongList.SongListSortRuleNames.Name
			</a>
		</div>
	</div>
	<div class="pull-left song-lists-text-query">
		<i class="icon-search"></i>
		<input type="text" data-bind="textInput: query" placeholder="@ViewRes.SharedStrings.Search" maxlength="200" />
	</div>
</div>