
<!-- binding context: TagsEditViewModel -->

<div data-bind="dialog: {autoOpen: false, modal: true, width: 500 }, dialogButtons: [{ text: '@ViewRes.SharedStrings.Save', click: save }], dialogVisible: dialogVisible" 
	 style="display:none;" title="@ViewRes.SharedStrings.Tags">

	<div class="trackProperties">

		<p>@ViewRes.TagSelectionsStrings.Info</p>

		<div data-bind="foreach: selections">
			<span class="tag" data-bind="attr: { title: tag.additionalNames }">
				@* id is needed by jqButtonset. The binding also doesn't like ' in the id. *@
				<input type="checkbox" data-bind="id: 'tagSelection' + tag.name.replace(/\'/g, '_apos'), jqButtonset: selected" class="jqButton" />
				<label>
					<span data-bind="text: tag.name"></span>
				</label>
			</span>
		</div>
		<br />
		
		<div data-bind="visible: suggestions().length">
			<p>@ViewRes.TagSelectionsStrings.Suggestions</p>
			<div data-bind="foreach: suggestions">
				<span class="tag" data-bind="attr: { title: tag.additionalNames + '\n' + '@ViewRes.TagSelectionsStrings.Usages'.replace('{0}', count) }">
					<a href="#" data-bind="text: tag.name, click: function() { $parent.autoCompletedTag(tag); }, jqButton: { icon: 'ui-icon-plus' }"></a>
				</span>
			</div>
			<br />
		</div>

		<div class="form-inline">
			@ViewRes.TagSelectionsStrings.AddTag:
			<div class="input-append">
				<input type="text" class="input-large" maxlength="30" data-bind="textInput: newTagName, tagAutoComplete: autoCompletedTag, allowAliases: true" />
				<button type="button" class="btn" data-bind="click: addTag">@ViewRes.SharedStrings.Add</button>
			</div>
		</div>

	</div>

</div>
