@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.Knockout
@model VocaDb.Model.DataContracts.Songs.SongContract

@{
	PageProperties.Title = "Merge song - " + Model.Name;
	ViewBag.Parents = new[] {
		Html.ActionLink("Songs", "Index", "Search", UrlMapper.Search.Songs(), null),
		Html.ActionLink(Model.Name, "Details", new { id = Model.Id }),
		Html.ActionLink("Edit", "Edit", new { id = Model.Id }),
	};

}

@using (Html.BeginForm())
{

	@Html.Partial("Partials/Shared/_MergeEntryInfo")

	<input type="hidden" name="targetSongId" id="targetSongId" data-bind="value: target.id" />

	<br />
	<div class="clearfix">
		<div class="pull-left">
			@Html.Partial("Partials/Knockout/_LockingAutoComplete", new LockingAutoCompleteViewModel("songAutoComplete", "targetSearchParams", "target.name", "target.id"))
		</div>
		<div class="pull-left entry-field-inline-warning">
			<div class="alert" data-bind="visible: validationError_targetIsNewer" style="display: none;">
				<span class="icon-line errorIcon"></span>
				@ViewRes.EntryMergeStrings.ValidationErrorTargetIsNewer
			</div>

			<div class="alert" data-bind="visible: validationError_targetIsLessComplete" style="display: none;">
				<span class="icon-line errorIcon"></span>
				@ViewRes.EntryMergeStrings.ValidationErrorTargetIsLessComplete
			</div>
		</div>
	</div>

	<br />

	<button type="submit" class="btn btn-primary" id="mergeBtn" data-bind="enable: target.id">@ViewRes.EntryMergeStrings.MergeBtnText</button>

}

@section BodyScripts {
	<script src="@LaravelMixHelper.GetPathToVersionedMixFile("~/bundles/shared/edit.js")"></script>
	<script src="@LaravelMixHelper.GetPathToVersionedMixFile("~/bundles/Song/Merge.js")"></script>
	<script type="text/javascript">

		$(function () {

			var repo = new app.SongRepository('@RootPath', @LanguagePreferenceInt);
			var data = @ToJS(Model);
			var vm = new app.SongMergeViewModel(repo, data);
			ko.applyBindings(vm);

			$("#mergeBtn").click(function () {
				return confirm("Are you sure you want to merge the songs?");
			});

	    });

	</script>
}