@using VocaDb.Web.Models.Shared.Partials.Song 
@model VocaDb.Model.DataContracts.Songs.RelatedSongsContract
@using R = ViewRes.Song.DetailsStrings

@if (!Model.Any) {
	@ViewRes.EntryDetailsStrings.NoMatches
}

@if (Model.ArtistMatches.Any()) {
	<h3>@R.MatchingArtists</h3>
	<partial name="Partials/Song/_SongGrid" model="@(new SongGridViewModel(Model.ArtistMatches, 2, true))" />
	<br />
}

@if (Model.LikeMatches.Any()) {
	<h3>@R.MatchingLikes</h3>
	<partial name="Partials/Song/_SongGrid" model="@(new SongGridViewModel(Model.LikeMatches, 2, true))" />
	<br />
}

@if (Model.TagMatches.Any()) {
	<h3>@R.MatchingTags</h3>
	<partial name="Partials/Song/_SongGrid" model="@(new SongGridViewModel(Model.TagMatches, 2, true))" />
}