@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.User
@model VocaDb.Model.DataContracts.Users.UserBaseContract

@{
	PageProperties.Title = "Comments - " + Model.Name;
	ViewBag.Parents = new[] {
		Html.ActionLink("Users", "Index", "User"),
		Html.ActionLink(Model.Name, "Details", "User", new { id = Model.Id })
	};
}

<!-- Binding context: CommentListViewModel -->

<div data-bind="foreach: comments, show" class="js-cloak">
	<div class="well well-transparent">
		<div class="media">
			<a class="pull-left" visible="{{ entry.mainPicture && (entry.mainPicture.urlTinyThumb || entry.mainPicture.urlSmallThumb) }}" href="{{ $parent.getEntryUrl(entry) }}" title="{{ entry.additionalNames }}">
				<img attr.src="{{ entry.mainPicture ? (entry.mainPicture.urlTinyThumb || entry.mainPicture.urlSmallThumb) : '' }}" alt="thumb" class="media-object coverPicThumb" referrerpolicy="same-origin" />
			</a>
			<div class="media-body">
				<h4 class="media-heading">
					<a href="{{ $parent.getEntryUrl(entry) }}" title="{{ entry.additionalNames }}">
						<strong>{{ entry.name }}</strong>
					</a>
					<span visible="{{ @("$parent.getEntryTypeName")(entry) }}">({{ @("$parent.getEntryTypeName")(entry) }})</span>
				</h4>

				<span visible="{{ entry.artistString }}">{{ entry.artistString }}</span>
			</div>
		</div>
		<div class="comment">
			<h3>
				<span data-bind="with: $data.author">
					<partial name="Partials/User/_IconNameAndTypeLinkKnockout" model="@(new IconNameAndTypeLinkKnockoutViewModel("$parents[1].resources.resources().userGroupNames"))" />
				</span>
				<small class="pull-right extraInfo" data-bind="attr: { title: created }, timeAgo: created"></small>
			</h3>
			<p data-bind="text: message"></p>
		</div>
	</div>
</div>

@section BodyScripts {
	<script type="text/javascript">
		$(function () {

			moment.locale('@Culture');
			ko.punches.enableAll();

			var urlMapper = new app.UrlMapper("@RootPath");
			var resourceRepo = new app.ResourceRepository('@RootPath');
			var languageSelection = '@UserContext.LanguagePreference';
			var cultureCode = '@UICulture';
			var userId = @Model.Id;

			var vm = new app.CommentListViewModel(urlMapper, resourceRepo, languageSelection, cultureCode, userId);
			ko.applyBindings(vm);

		});
	</script>
}