@using System.Globalization
@using VocaDb.Model.Domain.Venues
@using VocaDb.Web.Code
@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.EntryDetails
@using VocaDb.Web.Models.Shared.Partials.Shared
@model VocaDb.Model.DataContracts.Venues.VenueForApiContract

@{
	
	ViewBag.Parents = new[] {
		Html.ActionLink(ViewRes.SharedStrings.Venues, "EventsByVenue", "Event")
	};

	var descriptionHtml = MarkdownParser.GetHtml(Model.Description);
	var descriptionStripped = MarkdownParser.GetPlainText(Model.Description);

	PageProperties.Description = descriptionStripped;
	PageProperties.Robots = Model.Deleted ? PagePropertiesData.Robots_Noindex_Follow : string.Empty;

}

@section Toolbar {
	<a asp-action="Edit" asp-route-id="@(Model.Id)" id="@("editVenueLink")" class="@((Login.CanEdit(Model) ? "" : "disabled"))">@(ViewRes.SharedStrings.Edit)</a>
	<a asp-action="Versions" asp-route-id="@(Model.Id)" id="@("viewVersions")">@(ViewRes.EntryDetailsStrings.ViewModifications)</a>
	@if (Login.CanManageDb) {
		<a href="@Url.Action("Edit", "Event", new { venueId = Model.Id != 0 ? (int?)Model.Id : null }, null)" id="createEventLink">@ViewRes.Event.EventsBySeriesStrings.CreateEvent</a>
	}
	<a href="#" id="reportEntryLink" data-bind="click: reportViewModel.show">@ViewRes.EntryDetailsStrings.ReportAnError</a>
	<partial name="Partials/Shared/_EntryStatusMessage" model="@(new EntryStatusMessageViewModel(Model.Status))" />
}

@if (Model.Deleted) {
	<partial name="Partials/EntryDetails/_DeletedBanner" model="@(new DeletedBannerViewModel(null))" />
}

@if (Model.Coordinates.HasValue) {
	<partial name="Partials/Shared/_EmbedGoogleMaps" model="@(new EmbedGoogleMapsViewModel(Model.Coordinates))" />
}

<div class="media">
	<div class="media-body">
		@if (!string.IsNullOrEmpty(Model.Description)) {
			<p>@Html.Raw(descriptionHtml)</p>
		}
	</div>
	
	@if (Model.WebLinks.Any()) {
		<partial name="Partials/EntryDetails/_ExternalLinksList" model="@(new ExternalLinksListViewModel(Model.WebLinks, false))" />
		<br />
	}
	
	@if (!string.IsNullOrEmpty(Model.AdditionalNames)) {
		<p>
			@ViewRes.Venue.DetailsStrings.Aliases: @Model.AdditionalNames
		</p>		
	}

	@if (!string.IsNullOrEmpty(Model.AddressCountryCode)) {
		<p>
			@ViewRes.Venue.DetailsStrings.Country: @(new RegionInfo(Model.AddressCountryCode).DisplayName)
		</p>
	}

	@if (!string.IsNullOrEmpty(Model.Address)) { 
		<p>
			@ViewRes.Venue.DetailsStrings.Address: @Model.Address
		</p>
	}
</div>

<h3>@ViewRes.SharedStrings.ReleaseEvents</h3>
<ul>
	@foreach (var ev in Model.Events) {
		<li>
			<a asp-action="Details" asp-controller="Event" asp-route-id="@(ev.Id)">@(ev.Name)</a>
			@if (ev.Date != null) {
				<small>(@ev.Date.Value.ToString("d"))</small>
			}
		</li>
	}
</ul>

<partial name="Partials/EntryDetails/_ReportEntryPopupKnockout" model="@(new ReportEntryPopupKnockoutViewModel())" />

@section BodyScripts {
<remikus path="/bundles/Venue/Details.js" />
<script type="text/javascript">
	$(function () {

		$("#editVenueLink").button({ disabled: $("#editVenueLink").hasClass("disabled"), icons: { primary: 'ui-icon-wrench'} });
		$("#viewVersions").button({ icons: { primary: 'ui-icon-clock' } });
		$("#createEventLink").button({ icons: { primary: 'ui-icon-plus' } });
		$("#reportEntryLink").button({ icons: { primary: 'ui-icon-alert' } });
		
		var loggedUserId = @UserContext.LoggedUserId;
		var rootPath = '@RootPath';
		var urlMapper = new app.UrlMapper(rootPath);
		var repoFactory = new app.RepositoryFactory(urlMapper, @LanguagePreferenceInt);
		var venueRepo = repoFactory.venueRepository();
		var reportTypes = @ToJS(ReportUtils.GetReportTypes(Translate.VenueReportTypeNames, VenueReport.ReportTypesWithRequiredNotes));

		var vm = new app.VenueDetailsViewModel(venueRepo, reportTypes, loggedUserId, @Model.Id);
		ko.applyBindings(vm);

	});
</script>
}
