@using VocaDb.Web.Code
@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.ArchivedEntry
@using VocaDb.Web.Models.Shared.Partials.EntryDetails
@using VocaDb.Web.Models.Shared.Partials.Venue
@model VocaDb.Web.Models.Shared.ViewVersion<VocaDb.Model.DataContracts.Venues.ArchivedVenueVersionDetailsContract>

@{

	PageProperties.Title = "Revision " + Model.Entry.ArchivedVersion.Version + " for " + Model.Entry.Name;
	PageProperties.Robots = PagePropertiesData.Robots_Noindex_Nofollow;
	
	if (Model.Entry.Venue != null) {
		ViewBag.Parents = new[] {
			Html.ActionLink(ViewRes.SharedStrings.Venues, "EventsByVenue", "Event"),
			Html.ActionLink(Model.Entry.Venue.Name, "Details", new { id = Model.Entry.Venue.Id }),
			Html.ActionLink("Revisions", "Versions", new { id = Model.Entry.Venue.Id })
		};
	} else {
		ViewBag.Parents = new[] {
			Html.ActionLink(ViewRes.SharedStrings.Venues, "EventsByVenue", "Event"),
		};
	}

}

@section Toolbar {
	<a href="#" id="reportEntryLink" data-bind="click: reportViewModel.show">@ViewRes.EntryDetailsStrings.ReportAnError</a>
	@if (Login.CanViewHiddenRevisions) {
		if (Model.Entry.ArchivedVersion.Hidden) {
			<a asp-action="UpdateVersionVisibility" asp-route-archivedVersionId="@(Model.Entry.ArchivedVersion.Id)" asp-route-hidden="@(false)" id="@("showLink")" onclick="@(string.Format("return confirm(\"{0}\");", ViewRes.ViewVersionStrings.ConfirmUnhide))">@(ViewRes.ViewVersionStrings.UnhideVersion)</a>
		} else {
			<a asp-action="UpdateVersionVisibility" asp-route-archivedVersionId="@(Model.Entry.ArchivedVersion.Id)" asp-route-hidden="@(true)" id="@("hideLink")" onclick="@(string.Format("return confirm(\"{0}\");", ViewRes.ViewVersionStrings.ConfirmHide))">@(ViewRes.ViewVersionStrings.HideVersion)</a>
		}
	}
}

@if (Model.Entry.ArchivedVersion.Hidden) {
	<partial name="Partials/EntryDetails/_HiddenBanner" />
}

@if (Model.Entry.ComparableVersions.Any()) {
	using (Html.BeginForm("ViewVersion", "Venue", FormMethod.Post, new { @class = "form form-inline" })) {
		@:Compare to: @Html.DropDownListFor(m => m.ComparedVersionId, ViewHelper.CreateSelectList(Model.Entry.ComparableVersions, i => i.Id, i => i.Version + " (" + i.TranslateChangedFields(Model.EnumTranslations) + " by " + i.AgentName + ")", Model.Entry.ComparedVersionId), new { @class = "input-xlarge", onchange = "$(this).closest('form').submit();" })
		<button type="submit" class="btn btn-primary">Compare</button>
	}
}

<partial name="Partials/ArchivedEntry/_ArchivedObjectVersionProperties" model="@(new ArchivedObjectVersionPropertiesViewModel(Model.Version(Model.Entry.ArchivedVersion), Model.Version(Model.Entry.ComparedVersion)))" />

<partial name="Partials/Venue/_PrintArchivedVenueData" model="@(new PrintArchivedVenueDataViewModel(Model.Entry.Versions))" />

<partial name="Partials/EntryDetails/_ReportEntryVersionPopupKnockout" model="@(new ReportEntryVersionPopupKnockoutViewModel())" />

@section BodyScripts {
	<script type="text/javascript">
		var model = {
			entry: {
				archivedVersion: {
					version: @Model.Entry.ArchivedVersion.Version,
				},
				venue: {
					id: @Model.Entry.Venue.Id,
				}
			},
		};
		app.VenueViewVersion(model);
	</script>
}