@using HtmlHelpers.BeginCollectionItemCore
@using VocaDb.Web.Helpers
@model VocaDb.Model.DataContracts.MikuDb.InspectedTrack

@{ var item = Html.BeginCollectionItem("Tracks"); }

	<span>(Disc @Model.ImportedTrack.DiscNum) @Model.ImportedTrack.TrackNum</span>. <span> @Model.ImportedTrack.Title (@Model.ImportedTrack.ArtistString)</span>:
	@if (Model.ExistingSong != null) {
		@Html.HiddenFor(m => m.ExistingSong.Id)
		@Html.CheckBoxFor(m => m.Selected)
		<span><a asp-action="Details" asp-controller="Song" asp-route-id="@(Model.ExistingSong.Id)" title="@(Model.ExistingSong.AdditionalNames)">@(Model.ExistingSong.Name + " (" + Model.ExistingSong.ArtistString + ")")</a></span>
	} else {
		<span>(no match)</span>
	}
@{ item.Dispose(); }
