@using VocaDb.Model.Domain.Globalization;
@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models.Shared.Partials.ArchivedEntry;
@model TranslatedNameRowViewModel

<tr>
	<td>Original language</td>
	<td colspan="@(Model.CompareToName != null ? 1 : 2)">
		@(Model.Name != null ? Translate.ContentLanguageSelectionName(Model.Name.DefaultLanguage) : string.Empty)
	</td>
	@if (Model.CompareToName != null)
	{
		<td>
			@Translate.ContentLanguageSelectionName(Model.CompareToName.DefaultLanguage)
		</td>
	}
</tr>
<tr>
	<td>Primary names</td>
	<td colspan="@(Model.CompareToName != null ? 1 : 2)">
		@if (Model.Name != null)
		{
			@:@Translate.ContentLanguageSelectionName(ContentLanguageSelection.Japanese): @Model.Name.Japanese<br />
			@:@Translate.ContentLanguageSelectionName(ContentLanguageSelection.Romaji): @Model.Name.Romaji<br />
			@:@Translate.ContentLanguageSelectionName(ContentLanguageSelection.English): @Model.Name.English<br />
		}
	</td>
	@if (Model.CompareToName != null)
	{
		<td>
			@(Translate.ContentLanguageSelectionName(ContentLanguageSelection.Japanese) + ": " + Model.CompareToName.Japanese)<br />
			@(Translate.ContentLanguageSelectionName(ContentLanguageSelection.Romaji) + ": " + Model.CompareToName.Romaji)<br />
			@(Translate.ContentLanguageSelectionName(ContentLanguageSelection.English) + ": " + Model.CompareToName.English)<br />
		</td>
	}
</tr>