@using VocaDb.Web.Models.Shared.Partials.ArchivedEntry
@using VocaDb.Web.Models.Shared.Partials.Shared
@using VocaDb.Web.Models.Shared.Partials.User
@model ArchivedObjectVersionPropertiesViewModel

<div class="well well-transparent">
	<h4>Properties</h4>

	<table class="table-bordered">
		<tr>
			<td>Version</td>
			<td>@Model.Ver.Contract.Version</td>
			<td>
				@if (Model.CompareTo != null)
				{
					@Model.CompareTo.Contract.Version
				}
			</td>
		</tr>
		<tr>
			<td>Status</td>
			<td>@Model.Ver.Status</td>
			<td>
				@if (Model.CompareTo != null)
				{
					@Model.CompareTo.Status
				}
			</td>
		</tr>
		<tr>
			<td>Snapshot</td>
			<td>@Model.Ver.Contract.IsSnapshot</td>
			<td>
				@if (Model.CompareTo != null)
				{
					@Model.CompareTo.Contract.IsSnapshot
				}
			</td>
		</tr>
		<tr>
			<td>Created</td>
			<td>@Html.Partial("Partials/Shared/_UniversalTimeLabel", new UniversalTimeLabelViewModel(Model.Ver.Contract.Created))</td>
			<td>
				@if (Model.CompareTo != null)
				{
					<partial name="Partials/Shared/_UniversalTimeLabel" model="@(new UniversalTimeLabelViewModel(Model.CompareTo.Contract.Created))" />
				}
			</td>
		</tr>
		<tr>
			<td>Author</td>
			<td>@Html.Partial("Partials/User/_UserIconLinkOrName", new UserIconLinkOrNameViewModel(Model.Ver.Contract.Author, Model.Ver.Contract.AgentName))</td>
			<td>
				@if (Model.CompareTo != null)
				{
					<partial name="Partials/User/_UserIconLinkOrName" model="@(new UserIconLinkOrNameViewModel(Model.CompareTo.Contract.Author, Model.CompareTo.Contract.AgentName))" />
				}
			</td>
		</tr>
		<tr>
			<td>Reason</td>
			<td>@Model.Ver.Reason</td>
			<td>
				@if (Model.CompareTo != null)
				{
					@Model.CompareTo.Reason
				}
			</td>
		</tr>
		<tr>
			<td>Changed</td>
			<td>@Model.Ver.ChangeMessage</td>
			<td>
				@if (Model.CompareTo != null)
				{
					@Model.CompareTo.ChangeMessage
				}
			</td>
		</tr>
		<tr>
			<td>Notes</td>
			<td>@Model.Ver.Notes</td>
			<td>
				@if (Model.CompareTo != null)
				{
					@Model.CompareTo.Notes
				}
			</td>
		</tr>
	</table>

</div>