@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models.Shared.Partials.ArchivedEntry;
@using VocaDb.Web.Models.Shared.Partials.Event;
@model PrintArchivedEventDataViewModel

<div class="well well-transparent archived-entry-contents">
	<h4>Content</h4>

	<table class="table table-bordered">
		@ArchivedEntryHelpers.DataRow("Id", Model.ComparedEvents.FirstData.Id)
		@ArchivedEntryHelpers.TranslatedNameRow(Model.ComparedEvents, d => d.TranslatedName)
		@ArchivedEntryHelpers.DataRowList("Names", Model.ComparedEvents, d => DataFormatUtils.GenerateHtml(d.Names, name => Html.Partial("Partials/ArchivedEntry/_NameInfo", new NameInfoViewModel(name))))
		@ArchivedEntryHelpers.DataRow("Description", Model.ComparedEvents, d => d.Description)
		@ArchivedEntryHelpers.DataRowList("External links", Model.ComparedEvents, d => DataFormatUtils.GenerateHtml(d.WebLinks, webLink => Html.Partial("Partials/ArchivedEntry/_WebLinkInfo", new WebLinkInfoViewModel(webLink))))
		@ArchivedEntryHelpers.DataRow("Category", Model.ComparedEvents, d => d.Category)
		@ArchivedEntryHelpers.DataRow("Date", Model.ComparedEvents, d => d.Date)
		@ArchivedEntryHelpers.DataRow("Venue", Model.ComparedEvents, d => ArchivedEntryHelpers.ObjectRefInfo(d.Venue))
		@ArchivedEntryHelpers.DataRow("Venue name", Model.ComparedEvents, d => d.VenueName)
		@ArchivedEntryHelpers.DataRow("Main picture MIME", Model.ComparedEvents, d => d.MainPictureMime)
		@ArchivedEntryHelpers.DataRow("Series", Model.ComparedEvents, d => ArchivedEntryHelpers.ObjectRefInfo(d.Series))
		@ArchivedEntryHelpers.DataRow("Series number", Model.ComparedEvents, d => d.SeriesNumber)
		@ArchivedEntryHelpers.DataRowList("Artists", Model.ComparedEvents, d => DataFormatUtils.GenerateHtmlFromHelper(d.Artists, ArchivedEntryHelpers.ObjectRefInfo))
		@ArchivedEntryHelpers.DataRowList("PVs", Model.ComparedEvents, d => DataFormatUtils.GenerateHtml(d.PVs, pv => Html.Partial("Partials/ArchivedEntry/_PVInfo", new PVInfoViewModel(pv))))
		@ArchivedEntryHelpers.DataRow("Song list", Model.ComparedEvents, d => ArchivedEntryHelpers.ObjectRefInfo(d.SongList))
	</table>

</div>