@using VocaDb.Web.Helpers
@using VocaDb.Model.Domain.Songs
@using Resources
@using SharedRes = ViewRes.SharedStrings;

<div class="form-horizontal well well-transparent" data-bind="visible: true" style="display: none;">

	<div class="pull-right">
		<div class="inline-block">
			@ViewRes.EntryIndexStrings.SortBy
			@KnockoutHelpers.Dropdown(Translate.SongSortRuleNames.ValuesAndNamesStrings, "sort", "sortName")
		</div>

		<button class="btn" data-bind="click: function() { groupByRating(!groupByRating()); }, css: { active: groupByRating }">
			Group by rating
		</button>

	</div>

	<div class="control-label">
		<i class="icon-search"></i>
	</div>
	<div class="control-group">
		<div class="controls">
			<div class="input-append">
				<input type="text" data-bind="textInput: searchTerm" class="input-xlarge" placeholder="Type something..." />
				<button class="btn btn-danger" data-bind="click: function() { searchTerm(''); }, visible: searchTerm">@SharedRes.Clear</button>
			</div>
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">Rating</div>
		<div class="controls">
			@UserHelpers.SongVoteRatingsRadioKnockout("rating")
		</div>
	</div>
	
	<div class="control-group">
		<div class="control-label">@ViewRes.SharedStrings.Tag</div>
		<div class="controls">
			<div class="input-append input-prepend">
				<a href="#" class="btn btn-nomargin" data-bind="visible: tag, attr: { href: '/Tag/Details/' + tag() }" title="Tag information">
					<i class="icon icon-info-sign"></i>
				</a>
				@KnockoutHelpers.LockingAutoComplete("tagAutoComplete", "tag")
			</div>
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">@EntryTypeNames.Artist</div>
		<div class="controls">
			<div style="display: inline-block;" class="input-append">
				@KnockoutHelpers.LockingAutoComplete("artistAutoComplete", "artistSearchParams", textBinding: "artistName", valBinding: "artistId")
			</div>
		</div>
	</div>
	
	<div class="control-group" data-bind="visible: showChildVoicebanks">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: childVoicebanks" />
				Include derived voicebanks
			</label>
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">Song list</div>
		<div class="controls">
			<div style="display: inline-block;" class="input-append">
				<select data-bind="options: songLists, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Nothing', value: songListId"></select>
			</div>
		</div>
	</div>

</div>

<div data-bind="visible: true" style="display: none;">

	@{ Html.RenderPartial("Partials/_SongSearchList"); }

</div>

