@using VocaDb.Web.Models.Shared.Partials.Activityfeed
@using VocaDb.Web.Helpers
@using Res = VocaDb.Web.Resources.Views.ActivityEntry.IndexStrings
@inherits VocaDb.Web.Code.VocaDbPage

@{
	PageProperties.Title = Res.RecentActivity;
}

<!-- Binding context: ActivityEntryListViewModel -->

<ul class="nav nav-pills">
	<li class="active">
		<a asp-action="Index">@(Res.AllActivity)</a>
	</li>
	@if (Login.IsLoggedIn) {
		<li>
			<a asp-action="FollowedArtistActivity">@(Res.FollowedArtists)</a>
		</li>
	}
	<li>
		<a asp-action="Index" asp-controller="Comment">@(Res.Comments)</a>
	</li>	
</ul>

<div data-bind="foreach: entries, show" class="js-cloak">
	<partial name="Partials/Activityfeed/_ActivityEntryKnockout" model="@(new ActivityEntryKnockoutViewModel("$parent.getEntryTypeName", "$parent.getActivityFeedEventName", "$parents[1].getChangedFieldNames", true))" />
</div>

<hr />
<h3>
	<a href="#" data-bind="click: loadMore">@Res.ViewMore</a>
</h3>

@section BodyScripts {
	<remikus path="/bundles/ActivityEntry/Index.js" />
	<script type="text/javascript">
		app.ActivityEntryIndex();
	</script>
}