@using VocaDb.Web.Helpers;
@inherits VocaDb.Web.Code.VocaDbPage<VocaDb.Web.Models.Shared.ViewVersion<VocaDb.Model.DataContracts.Tags.ArchivedTagVersionDetailsContract>>

@{

	PageProperties.Title = "Revision " + Model.Entry.ArchivedVersion.Version + " for " + Model.Entry.Name;

	if (Model.Entry.Tag != null) {
		ViewBag.Parents = new[] {
			Html.ActionLink("Tags", "Index"),
			Html.ActionLink(Model.Entry.Tag.Name, "DetailsById", new { id = Model.Entry.Tag.Id, slug = Model.Entry.Tag.UrlSlug }),
			Html.ActionLink("Revisions", "Versions", new { id = Model.Entry.Tag.Id })
		};
	} else {
		ViewBag.Parents = new[] {
			Html.ActionLink("Tags", "Index"),
		};
	}

}

@section Toolbar {
	<a href="@Url.Action("ArchivedVersionXml", new { id = Model.Entry.ArchivedVersion.Id })" id="downloadXmlLink">Download XML</a>
	<a href="#" id="reportEntryLink" data-bind="click: reportViewModel.show">@ViewRes.EntryDetailsStrings.ReportAnError</a>
}

@if (Model.Entry.ComparableVersions.Any()) {
	using (Html.BeginForm("ViewVersion", "Tag", FormMethod.Post, new { @class = "form form-inline" })) {
		@:Compare to: @Html.DropDownListFor(m => m.ComparedVersionId, ViewHelper.CreateSelectList(Model.Entry.ComparableVersions, i => i.Id, i => i.Version + " (" + i.TranslateChangedFields(Model.EnumTranslations) + " by " + i.AgentName + ")", Model.Entry.ComparedVersionId), new { @class = "input-xlarge", onchange = "$(this).closest('form').submit();" })
		<button type="submit" class="btn btn-primary">Compare</button>
	}
}

@ArchivedEntryHelpers.ArchivedObjectVersionProperties(Model.Version(Model.Entry.ArchivedVersion), 
	Model.Version(Model.Entry.ComparedVersion))

@TagHelpers.PrintArchivedTagData(Model.Entry.Versions)

@EntryDetailsHelpers.ReportEntryVersionPopupKnockout()

@section BodyScripts {
	<script type="text/javascript">

		$(function () {

            $("#downloadXmlLink").button({ icons: { primary: 'ui-icon-arrowthickstop-1-s' } });
			$("#reportEntryLink").button({ icons: { primary: 'ui-icon-alert'} });

			var rep = new app.TagRepository('@RootPath');
			var viewModel = new app.ArchivedEntryViewModel(@Model.Entry.Tag.Id, @Model.Entry.ArchivedVersion.Version, rep);
			ko.applyBindings(viewModel);

        });

	</script>
}