@using VocaDb.Web.Models.Shared.Partials.User;
@model ProfileIconKnockoutViewModel

<div data-bind="visible: @Model.Binding" style="width: @(Model.Size)px; height: @(Model.Size)px; display: inline-block">
	<img data-bind="attr: { src: @Model.Binding }" alt="User avatar" src="@Url.Content("~/Content/unknown.png")" />
</div>