@using Resources;
@using VocaDb.Web.Models.Shared.Partials.User;
@model SongVoteRatingsRadioKnockoutViewModel

<button class="btn" data-bind="click: function() { @(Model.Binding)('Nothing'); }, css: { active: @(Model.Binding)() == 'Nothing' }">@ViewRes.User.RatedSongsStrings.RatingAnything</button>
<button class="btn" data-bind="click: function() { @(Model.Binding)('Like'); }, css: { active: @(Model.Binding)() == 'Like' }">
	<i class="icon-star"></i>
	@SongVoteRatingNames.Like
</button>
<button class="btn" data-bind="click: function() { @(Model.Binding)('Favorite'); }, css: { active: @(Model.Binding)() == 'Favorite' }">
	<i class="icon-heart"></i>
	@SongVoteRatingNames.Favorite
</button>