@using VocaDb.Model.Domain.Images
@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.User
@model UserIconLink_UserForApiContractViewModel

<a href="@Url.UserDetails(Model.User)" class="text-decoration-none" @Html.ConditionalAttribute(Model.Tooltip && Model.User != null, "data-bind", "userToolTip: " + (Model.User != null ? Model.User.Id : 0))
   title='@(Model.UserInfo && Model.User != null ? (Translate.UserGroups[Model.User.GroupId] + "\nJoined: " + Model.User.MemberSince.ToShortDateString()) : "")'>
	<partial name="Partials/User/_ProfileIcon" model="@(new ProfileIconViewModel(Model.User != null && Model.User.MainPicture != null ? Model.User.MainPicture.GetSmallestThumb(ImageSize.TinyThumb) : null, Model.Size))" />
	<span>@(Model.User != null ? Model.User.Name : "")</span>
</a>