@using Resources
@using VocaDb.Model.Service.Search
@using VocaDb.Web.Resources.Domain
@using Res = ViewRes.Search.IndexStrings

<!-- Album search options -->
<div data-bind="visible: showAlbumSearch, with: albumSearchViewModel">
	<div class="control-group">
		<div class="control-label">@Res.AlbumType</div>
		<div class="controls">
			@AlbumHelpers.DiscTypesDropdownKnockout("albumType")
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">@EntryTypeNames.Artist</div>
		<div class="controls" data-bind="with: artistFilters">
			@KnockoutHelpers.ArtistFilters(artistParticipationStatus: true)
		</div>
	</div>
	
	<div class="control-group">
		<div class="control-label"></div>
		<div class="controls">
			@SearchHelpers.AdvancedFilters(AdvancedSearchFilters.AlbumFilters)
		</div>
	</div>
</div>
