@using Res = ViewRes.Search.IndexStrings;

<div class="dropdown pull-right">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		@Res.Showing
		<span data-bind="text: $parent.pageSize"></span>
		@Res.ItemsOf
		<span data-bind="text: paging.totalItems"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a data-bind="click: function() { $parent.pageSize(10); }" href="#">@string.Format(Res.ItemsPerPage, 10)</a></li>
		<li><a data-bind="click: function() { $parent.pageSize(20); }" href="#">@string.Format(Res.ItemsPerPage, 20)</a></li>
		<li><a data-bind="click: function() { $parent.pageSize(40); }" href="#">@string.Format(Res.ItemsPerPage, 40)</a></li>
	</ul>
</div>