@using VocaDb.Model.Domain
@using VocaDb.Model.Service.Search
@using VocaDb.Web.Models.Shared.Partials.Knockout
@using VocaDb.Web.Models.Shared.Partials.Search
@using VocaDb.Web.Models.Shared.Partials.Song
@using VocaDb.Web.Resources.Domain
@using Res = ViewRes.Search.IndexStrings

<!-- Song search options -->
<!-- Viewmodel: SongSearchViewModel -->

<div data-bind="visible: showSongSearch, with: songSearchViewModel">
	<div class="control-group">
		<div class="control-label">@Res.SongType</div>
		<div class="controls">
			<div class="control-group">
				<partial name="Partials/Song/_SongTypesDropdownKnockout" model="@(new SongTypesDropdownKnockoutViewModel("songType"))" />
			</div>
			<div class="control-group" data-bind="visible: showUnifyEntryTypesAndTags">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: unifyEntryTypesAndTags" />
					Also search associated tag
				</label>
			</div>
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">@EntryTypeNames.Artist</div>
		<div class="controls" data-bind="with: artistFilters">
			<partial name="Partials/Knockout/_ArtistFilters" model="@(new ArtistFiltersViewModel(artistParticipationStatus: true))" />
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">@Res.MoreRecentThan</div>
		<div class="controls">
			<select data-bind="value: since">
				<option value="">(Show all)</option>
				<option value="24">1 day</option>
				<option value="48">2 days</option>
				<option value="168">7 days</option>
				<option value="336">2 weeks</option>
				<option value="720">1 month</option>
				<option value="4320">6 months</option>
				<option value="8760">1 year</option>
				<option value="17520">2 years</option>
				<option value="26280">3 years</option>
			</select>
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">@Res.MinScore</div>
		<div class="controls">
			<input type="number" data-bind="textInput: minScore" maxlength="10" min="0" class="input-small" />
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">@Res.ReleaseEvent</div>
		<div class="controls">
			<partial name="Partials/Knockout/_BasicEntryLinkLockingAutoComplete" model="@(new BasicEntryLinkLockingAutoCompleteViewModel("releaseEventAutoComplete", "releaseEvent"))" />
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">@Res.ReleaseDate</div>
		<div class="controls">
			<input type="number" data-bind="textInput: dateYear" class="input-small" maxlength="4" max="2100" min="1900" placeholder="Year" />
			<input type="number" data-bind="textInput: dateMonth, visible: dateYear" class="input-small" maxlength="2" max="12" min="1" placeholder="Month" />
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">@Res.ParentVersion</div>
		<div class="controls">
			<partial name="Partials/Knockout/_SongLockingAutoComplete" model="@(new SongLockingAutoCompleteViewModel("parentVersion"))" />
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">@Res.Duration</div>
		<div class="controls">
			<input type="text" data-bind="textInput: minLengthFormatted" class="input-small" maxlength="10" />
			-
			<input type="text" data-bind="textInput: maxLengthFormatted" class="input-small" maxlength="10" />
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">@Res.Bpm</div>
		<div class="controls">
			<input type="number" data-bind="textInput: minBpm" class="input-small" maxlength="10" min="@Constants.AbsoluteMinBpm" max="@Constants.AbsoluteMaxBpm" step="@Constants.BpmStep" />
			-
			<input type="number" data-bind="textInput: maxBpm" class="input-small" maxlength="10" min="@Constants.AbsoluteMinBpm" max="@Constants.AbsoluteMaxBpm" step="@Constants.BpmStep" />
		</div>
	</div>

	<div class="control-group">
		<div class="control-label"></div>
		<div class="controls">
			<partial name="Partials/Search/_AdvancedFilters" model="@(new AdvancedFiltersViewModel(AdvancedSearchFilters.SongFilters))" />
		</div>
	</div>
</div>

