@using Resources
@using VocaDb.Model.Service.Search
@using Res = ViewRes.Search.IndexStrings;

@{
	var advancedFilters = new[] {
		Tuple.Create("Artist type: Vocaloid", AdvancedFilterType.ArtistType, "Vocaloid"),
		Tuple.Create("Artist type: UTAU", AdvancedFilterType.ArtistType, "UTAU"),
		Tuple.Create("Artist type: CeVIO", AdvancedFilterType.ArtistType, "CeVIO"),
		Tuple.Create("Artist type: other voice synthesizer", AdvancedFilterType.ArtistType, "OtherVoiceSynthesizer"),
		Tuple.Create("Lyrics: Any language", AdvancedFilterType.Lyrics, "Japanese,Romaji,English"),
		Tuple.Create("Lyrics: Non-English", AdvancedFilterType.Lyrics, "Japanese"),
		Tuple.Create("Lyrics: Romanized", AdvancedFilterType.Lyrics, "Romaji"),
		Tuple.Create("Lyrics: English", AdvancedFilterType.Lyrics, "English")
	};
}

<!-- Song search options -->
<div data-bind="visible: showSongSearch, with: songSearchViewModel">
	<div class="control-group">
		<div class="control-label">@Res.SongType</div>
		<div class="controls">
			@SongHelpers.SongTypesDropdownKnockout("songType")
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">@EntryTypeNames.Artist</div>
		<div class="controls" data-bind="with: artistFilters">
			@KnockoutHelpers.ArtistFilters(artistParticipationStatus: true)
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">@Res.MoreRecentThan</div>
		<div class="controls">
			<select data-bind="value: since">
				<option value="">(Show all)</option>
				<option value="24">1 day</option>
				<option value="48">2 days</option>
				<option value="168">7 days</option>
				<option value="336">2 weeks</option>
				<option value="720">1 month</option>
				<option value="4320">6 months</option>
				<option value="8760">1 year</option>
			</select>
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">@Res.MinScore</div>
		<div class="controls">
			<input type="number" data-bind="textInput: minScore" maxlength="10" min="0" class="input-small" />
		</div>
	</div>
	
	<div class="control-group">
		<div class="control-label"></div>
		<div class="controls">
			@SearchHelpers.AdvancedFilters(advancedFilters)
		</div>
	</div>
</div>

