@using VocaDb.Web.Helpers
@using VocaDb.Model.Domain.Songs

<!-- binding context: PVRatingButtonsViewModel -->

<div class="pull-right" style="@(Login.Manager.IsLoggedIn ? "" : "display: none;")">	
	<span data-bind="visible: isRated() == false" class="pull-right">
		<a data-bind="click: setRating_like, css: { disabled: ratingInProgress }" href="#" class="btn btn-rateSong-like">@ViewRes.Song.DetailsStrings.Like</a>
		<a data-bind="click: setRating_favorite, css: { disabled: ratingInProgress }" href="#" class="btn btn-rateSong-favorite">@ViewRes.Song.DetailsStrings.AddToFavorites</a>
	</span>

	<span data-bind="visible: isRated" class="pull-right">
		<span data-bind="visible: isRatingFavorite" style="display: none;" class="icon heartIcon" title="@Translate.SongVoteRatingNames[SongVoteRating.Favorite]"></span>
		<span data-bind="visible: isRatingLike" style="display: none;" class="icon starIcon" title="@Translate.SongVoteRatingNames[SongVoteRating.Like]"></span>        		
		<a data-bind="click: setRating_nothing, css: { disabled: ratingInProgress }" href="#" class="btn btn-rateSong-remove">@ViewRes.Song.DetailsStrings.RemoveFromFavorites</a>			
	</span>
</div>
