@using VocaDb.Model.DataContracts.Songs
@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.Song
@model SongGridViewModel

@{
	void SongIconLink(SongForApiContract song) {
		<a href="@Url.SongDetails(song)">
			<img src="@VocaDb.Model.Service.Helpers.UrlHelper.UpgradeToHttps(song.ThumbUrl)" alt="Cover" class="coverPicThumb" referrerpolicy="same-origin"/>
		</a>
	}

	void SongLink(SongForApiContract song, int? albumId = null) {
		<a href="@Url.SongDetails(song, albumId)" title="@song.AdditionalNames">
			@song.Name
		</a>
	}
}

<table>
	@{ int i = 0; }

	@foreach (var song in Model.Songs)
	{
		if (i % Model.Columns == 0)
		{
			@Html.Raw("<tr>")
		}
		<td>
			@if (!string.IsNullOrEmpty(song.ThumbUrl))
			{
				SongIconLink(song);
			}
		</td>
		<td>
			@{ SongLink(song); }
			@if (Model.DisplayType)
			{
				@Html.Partial("Partials/Song/_SongTypeLabel", new SongTypeLabelViewModel(song.SongType))
			}
			@if (Model.DisplayPublishDate && song.PublishDate.HasValue)
			{
				<i class="icon-calendar" title="Published: @song.PublishDate.Value.ToShortDateString()" data-bind="tooltip: { placement: 'right' }"></i>
			}
			<br />
			<span class="extraInfo">@song.ArtistString</span>
		</td>
		{ i++; }
		if (i % Model.Columns == 0)
		{
			@Html.Raw("</tr>")
		}
	}
	@if (i % Model.Columns != 0)
	{
		@Html.Raw("</tr>")
	}
</table>