@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models.Shared.Partials.EntryDetails;
@model ExternalLinksListViewModel

@foreach (var link in Model.WebLinks)
{
	if (link.Disabled)
	{
		<a class="extLink" href="https://web.archive.org/web/*/@link.Url" onclick="app.functions.trackOutboundLink(event)" title="See this page archived on the Wayback Machine" style="@(link.Disabled ? "text-decoration: line-through;" : "")">@link.DescriptionOrUrl</a>
	}
	else
	{
		<a class="extLink" href="@VocaDb.Model.Service.Helpers.UrlHelper.MakePossileAffiliateLink(link.Url)" onclick="app.functions.trackOutboundLink(event)">@link.DescriptionOrUrl</a>
	}
	if (Model.ShowCategory)
	{
		@("(")@Translate.WebLinkCategoryNames[link.Category]@(")")
	}
	<br />
}