@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.Comment
@model IEnumerable<VocaDb.Model.DataContracts.Comments.EntryWithCommentsContract>

<ul class="nav nav-pills">
	<li>
		<a asp-action="Index" asp-controller="ActivityEntry">@("All activity")</a>
	</li>
	@if (Login.IsLoggedIn) {
		<li>
			<a asp-action="FollowedArtistActivity" asp-controller="ActivityEntry">@("Only followed artists")</a>
		</li>
	}
	<li class="active">
		<a asp-action="Index" asp-controller="Comment">@("Comments")</a>
	</li>	
</ul>

@foreach (var entry in Model) {
    
	<div class="row-fluid comment-with-entry well well-transparent">
		
		<div class="span5">
			@foreach (var comment in entry.Comments) {
				<partial name="Partials/Comment/_CommentBodyLarge" model="@(new CommentBodyLargeViewModel(comment, false))" />
			}			
		</div>

		<div class="span5 item">

			<partial name="Partials/Comment/_CommentEntryItem" model="@(new CommentEntryItemViewModel(entry.Entry))" />

		</div>
		    		
	</div>
    
}