@using VocaDb.Model.Helpers
@using VocaDb.Web.Helpers
@model VocaDb.Model.DataContracts.Tags.TagForApiContract

<style type="text/css">
	.popupTitle {
		color: black;
	}
</style>

@if (Model.MainPicture != null && Model.MainPicture.UrlSmallThumb != null) {
<div class="thumbnail">
	<img src='@Model.MainPicture.UrlSmallThumb' alt="Thumb" class="coverPicThumb" />
</div>
}

<strong class="popupTitle">@Model.Name</strong>

@if (!string.IsNullOrEmpty(Model.AdditionalNames)) {
<p>
	@Model.AdditionalNames
</p>
}

@if (!string.IsNullOrEmpty(Model.CategoryName)) {
<p>
	@Model.CategoryName
</p>
}

@if (!string.IsNullOrEmpty(Model.Description)) {
<p>
	@Html.StripMarkdown(Model.Description).TruncateWithEllipsis(100)	
</p>
}