@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.User
@model VocaDb.Model.DataContracts.Users.ServerOnlyUserContract

<style type="text/css">
	.popupTitle { color: black; }
</style>

@if (!string.IsNullOrEmpty(Model.Email)) {
<div class="thumbnail">
	<partial name="Partials/User/_ProfileIcon_IUserWithEmail" model="@(new ProfileIcon_IUserWithEmailViewModel(Model))" />
</div>
}

<strong class="popupTitle">@Model.Name</strong>

<p>
	@Translate.UserGroups[Model.GroupId]
</p>

@if (Model.VerifiedArtist) {
	<p>
	@ViewRes.User.DetailsStrings.VerifiedAccount
	</p>
}

<p>
	Joined @Model.CreateDate.ToShortDateString()
</p>
