@using VocaDb.Model.Domain.Albums
@using VocaDb.Web.Helpers
@model VocaDb.Model.DataContracts.Albums.AlbumContract

<p>
	<strong class="popupTitle">@Model.Name</strong>
	@if (!string.IsNullOrEmpty(Model.AdditionalNames)) {
		<br />
		@Model.AdditionalNames
	}
</p>

<p>
    @Model.ArtistString<br />
    @if (Model.DiscType != DiscType.Unknown) {
    @Translate.DiscTypeName(Model.DiscType)<br />
    }
</p>
@if (!Model.ReleaseDate.IsEmpty) {
<p>
    @HelperRes.AlbumHelpersStrings.Released @Model.ReleaseDate.Formatted
</p>
}
@if (Model.RatingCount > 0) {
    @Helpers.Stars(Model.RatingAverage, 5) @("(" + Model.RatingCount + " " + ViewRes.Album.DetailsStrings.Ratings + ")")
}