@using VocaDb.Model.Domain.Tags
@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.Tags.TagUsageContract[]

<span>
@Html.LinkList(Model.Take(Tag.MaxDisplayedTags), t => Html.ActionLink(t.TagName + " (" + t.Count + ")", "Details", "Tag", new { id = t.TagName }, null))
</span>
<div style="display: inline-block">
@if (Model.Length > Tag.MaxDisplayedTags) {
	@("-")
	<span style="display: none;">@Html.LinkList(Model.Skip(Tag.MaxDisplayedTags), t => Html.ActionLink(t.TagName + " (" + t.Count + ")", "Details", "Tag", new { id = t.TagName }, null))</span>
	<a href="#" onclick="javascript:$($(this).parent().parent().find('span')[0]).append($($(this).parent().parent().find('span')[1]).html()); $(this).parent().hide(); return false;">@ViewRes.EntryDetailsStrings.ShowAllTags (@Model.Length)</a>
}
</div>