@using VocaDb.Model.Domain.Images
@using VocaDb.Web.Helpers;
@using Res = ViewRes.Event.DetailsStrings;
@using EntryRes = ViewRes.EntryDetailsStrings;
@inherits VocaDb.Web.Code.VocaDbPage<VocaDb.Model.DataContracts.ReleaseEvents.ReleaseEventDetailsContract>

@{

	ViewBag.Parents = new[] {
		Html.ActionLink(ViewRes.SharedStrings.ReleaseEvents, "EventsBySeries")
	};

	var descriptionHtml = MarkdownParser.GetHtml(Model.Description);
	var descriptionStripped = MarkdownParser.GetPlainText(Model.Description);

	PageProperties.Description = descriptionStripped;

	var pictureData = !string.IsNullOrEmpty(Model.PictureMime) ? (IEntryImageInformation)Model: Model.Series;
	var smallThumbUrl = Url.ImageThumb(pictureData, VocaDb.Model.Domain.Images.ImageSize.SmallThumb);
	var fullImageUrl = Url.ImageThumb(pictureData, VocaDb.Model.Domain.Images.ImageSize.Original);

}

@section Head {
	@HtmlHelpers.OpenGraphMetaTags(PageProperties)
	<link rel="canonical" href="@PageProperties.CanonicalUrl" />
}

@section Toolbar {
	@Html.ActionLink(ViewRes.SharedStrings.Edit, "Edit", new { id = Model.Id }, new { id = "editEventLink", @class = (Login.CanManageDb ? "" : "disabled") })
	@Html.ActionLink(ViewRes.EntryDetailsStrings.ViewModifications, "Versions", new { id = Model.Id }, new { id = "viewVersions" })
}

<div class="media">
	@if (pictureData != null && !string.IsNullOrEmpty(pictureData.Mime)) {
		<a class="pull-left" href="@fullImageUrl">
			<img class="media-object" src="@smallThumbUrl" alt="Thumb" />
		</a>
	}
	<div class="media-body">
		
		@if (Model.Series != null) {
			<p>@Res.Series: @Html.ActionLink(Model.Series.Name, "SeriesDetails", new { id = Model.Series.Id })</p>
		}

		@if (Model.Date != null) {
			<p>@Res.OccurrenceDate: @Model.Date.Value.ToShortDateString()</p>
		}
		
		@if (!string.IsNullOrEmpty(Model.Venue)) {
			<p>@Res.Venue: @Model.Venue</p>
		}

		@if (!string.IsNullOrEmpty(Model.Description)) {
			<p>@Html.Raw(descriptionHtml)</p>
		}
		
		@if (Model.SongList != null) {
			<p>@Res.SongList: @Html.ActionLink(Model.SongList.Name, "Details", "SongList", new { id = Model.SongList.Id }, null)</p>
		}

		@if (Model.WebLinks.Any()) {
			@EntryDetailsHelpers.ExternalLinksList(Model.WebLinks, false)
			<br />
		}

	</div>
</div>

@if (Model.Albums.Any()) {
	<h3>
		@Res.Albums
		<small>@string.Format(EntryRes.NumTotalParenthesis, Model.Albums.Length)</small>
	</h3>
	@AlbumHelpers.AlbumGrid(Model.Albums, 2, false, false, true)
}

@if (Model.Songs.Any()) {
	<h3 class="withMargin">
		@Res.Songs
		<small>@string.Format(EntryRes.NumTotalParenthesis, Model.Songs.Length)</small>
	</h3>
	@SongHelpers.SongGrid(Model.Songs, 2, true, false)
}

@section BodyScripts {
<script type="text/javascript">

	$(function () {
		$("#editEventLink").button({ disabled: $("#editEventLink").hasClass("disabled"), icons: { primary: 'ui-icon-wrench'} });
		$("#viewVersions").button({ icons: { primary: 'ui-icon-clock'} });
	});

</script>
}