@using Res = ViewRes.Event.EventsBySeriesStrings
@model VocaDb.Model.DataContracts.ReleaseEvents.ReleaseEventContract[]

@{
	PageProperties.Title = ViewRes.SharedStrings.ReleaseEvents;

	var byYear = Model.Where(e => e.Date != null).GroupBy(e => e.Date.Value.Year).ToArray();

}

<ul class="nav nav-pills">
	<li>
		<a asp-action="Index">@(Res.ViewList)</a>
	</li>
	<li>
		<a asp-action="EventsBySeries">@(Res.ViewBySeries)</a>
	</li>
	<li>
		<a asp-action="EventsByVenue">@(Res.ViewByVenue)</a>
	</li>
	<li class="active">
		<a asp-action="EventsByDate">@(Res.ViewByDate)</a>
	</li>
</ul>

<table>
	@foreach (var year in byYear) {

		<tr>
			<td class="alignTop" colspan="2">
				<h3>
					@year.Key
				</h3>
			</td>
		</tr>

		foreach (var ev in year) {
			<tr><td>
				@ev.Date.Value.ToString("m")
			</td><td>
				<a href="@Url.Action("Details", new { id = ev.Id, slug = ev.UrlSlug })">
					@ev.Name
				</a>
			</td></tr>
		}

	}
</table>