@using VocaDb.Web.Helpers;
@using Res = ViewRes.Event.EventsBySeriesStrings
@inherits VocaDb.Web.Code.VocaDbPage<VocaDb.Model.DataContracts.Venues.VenueForApiContract[]>

@{
	PageProperties.Title = ViewRes.SharedStrings.ReleaseEvents;
}

@section Toolbar {
	
	<ul class="nav nav-pills">
		<li>
			@Html.ActionLink(Res.ViewList, "Index")
		</li>
		<li>
			@Html.ActionLink(Res.ViewBySeries, "EventsBySeries")
		</li>
		<li class="active">
			@Html.ActionLink(Res.ViewByVenue, "EventsByVenues")
		</li>
		<li>
			@Html.ActionLink(Res.ViewByDate, "EventsByDate")
		</li>
	</ul>	

	@if (Login.CanManageDb) {
		@Html.ActionLink(Res.CreateEvent, "Edit", null, new { id = "createEventLink" })
		@:
		@Html.ActionLink(Res.CreateSeries, "EditSeries", null, new { id = "createSeriesLink" })
		@:
		@Html.ActionLink(Res.CreateVenue, "Edit", "Venue", null, new { id = "createVenueLink" })
	}	
}

@foreach (var venue in Model) {

	<div class="media withMargin">
		<div class="media-body">
			<h3 class="media-heading">
				@if (!string.IsNullOrEmpty(venue.Name)) {
					@Html.ActionLink(venue.Name, "Details", "Venue", new { id = venue.Id }, null)
				} else {
					<text>@ViewRes.SharedStrings.Unsorted</text>
				}
			</h3>
						
			@if (!string.IsNullOrEmpty(venue.Description)) {
				<p>@HtmlHelpers.FormatMarkdown(venue.Description)</p>
			}
		</div>
	</div>
	
	<ul>
	@foreach (var ev in venue.Events) {
		<li>
			@Html.ActionLink(ev.Name, "Details", new { id = ev.Id, slug = ev.UrlSlug })
		</li>
	}
	</ul>
	
	if (Login.CanManageDb) {
		@Html.ActionLink(Res.CreateEvent, "Edit", new { venueId = venue.Id != 0 ? (int?)venue.Id : null }, new { @class = "textLink addLink" })
	}
	
}

@section BodyScripts {
	<script type="text/javascript">

		$(function () {
			$("#createEventLink").button({ icons: { primary: 'ui-icon-plus' } });
			$("#createSeriesLink").button({ icons: { primary: 'ui-icon-plus' } });
			$("#createVenueLink").button({ icons: { primary: 'ui-icon-plus' } });
		});

	</script>
}