@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.Html
@using Res = ViewRes.Event.EventsBySeriesStrings
@model VocaDb.Model.DataContracts.ReleaseEvents.ReleaseEventSeriesWithEventsContract[]

@{
	PageProperties.Title = ViewRes.SharedStrings.ReleaseEvents;
}

@section Toolbar {
	
	<ul class="nav nav-pills">
		<li>
			<a asp-action="Index">@(Res.ViewList)</a>
		</li>
		<li class="active">
			<a asp-action="EventsBySeries">@(Res.ViewBySeries)</a>
		</li>
		<li>
			<a asp-action="EventsByVenue">@(Res.ViewByVenue)</a>
		</li>
		<li>
			<a asp-action="EventsByDate">@(Res.ViewByDate)</a>
		</li>
	</ul>	

	@if (Login.CanManageDb) {
		<a asp-action="Edit" id="@("createEventLink")">@(Res.CreateEvent)</a>
		@:
		<a asp-action="EditSeries" id="@("createSeriesLink")">@(Res.CreateSeries)</a>
		@:
		<a asp-action="Edit" asp-controller="Venue" id="@("createVenueLink")">@(Res.CreateVenue)</a>
	}	
}

@foreach (var series in Model) {

	<div class="media withMargin">
		@if (!string.IsNullOrEmpty(series.PictureMime)) {
			<a class="pull-left" href="@Url.Action("SeriesDetails", new { id = series.Id })">
				<img class="media-object" src="@Url.ImageThumb(series, VocaDb.Model.Domain.Images.ImageSize.TinyThumb)" alt="Thumb" />
			</a>
		}
		<div class="media-body">
			<h3 class="media-heading">
				@if (!string.IsNullOrEmpty(series.Name)) {
					<a asp-action="SeriesDetails" asp-route-id="@(series.Id)">@(series.Name)</a>
				} else {
					<text>@ViewRes.SharedStrings.Unsorted</text>
				}
			</h3>
						
			@if (!string.IsNullOrEmpty(series.Description)) {
				<p><partial name="Partials/Html/_FormatMarkdown" model="@(new FormatMarkdownViewModel(series.Description))" /></p>
			}
		</div>
	</div>
	
	<ul>
	@foreach (var ev in series.Events) {
		<li>
			<a asp-action="Details" asp-route-id="@(ev.Id)" asp-route-slug="@(ev.UrlSlug)">@(ev.Name)</a>
		</li>
	}
	</ul>
	
	if (Login.CanManageDb) {
		<a asp-action="Edit" asp-route-seriesId="@(series.Id != 0 ? (int?)series.Id : null)" class="@("textLink addLink")">@(Res.CreateEvent)</a>
	}
	
}

@section BodyScripts {
	<script type="text/javascript">
		app.EventEventsBySeries();
	</script>
}