@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.Html
@using Res = ViewRes.Event.EventsBySeriesStrings
@model VocaDb.Model.DataContracts.Venues.VenueForApiContract[]

@section Toolbar {
	
	<ul class="nav nav-pills">
		<li>
			<a asp-action="Index">@(Res.ViewList)</a>
		</li>
		<li>
			<a asp-action="EventsBySeries">@(Res.ViewBySeries)</a>
		</li>
		<li class="active">
			<a asp-action="EventsByVenue">@(Res.ViewByVenue)</a>
		</li>
		<li>
			<a asp-action="EventsByDate">@(Res.ViewByDate)</a>
		</li>
	</ul>	

	@if (Login.CanManageDb) {
		<a asp-action="Edit" id="@("createEventLink")">@(Res.CreateEvent)</a>
		@:
		<a asp-action="EditSeries" id="@("createSeriesLink")">@(Res.CreateSeries)</a>
		@:
		<a asp-action="Edit" asp-controller="Venue" id="@("createVenueLink")">@(Res.CreateVenue)</a>
	}	
}

@foreach (var venue in Model) {

	<div class="media withMargin">
		<div class="media-body">
			<h3 class="media-heading">
				@if (!string.IsNullOrEmpty(venue.Name)) {
					<a asp-action="Details" asp-controller="Venue" asp-route-id="@(venue.Id)">@(venue.Name)</a>
				} else {
					<text>@ViewRes.SharedStrings.Unsorted</text>
				}
			</h3>
						
			@if (!string.IsNullOrEmpty(venue.Description)) {
				<p><partial name="Partials/Html/_FormatMarkdown" model="@(new FormatMarkdownViewModel(venue.Description))" /></p>
			}
		</div>
	</div>
	
	<ul>
	@foreach (var ev in venue.Events) {
		<li>
			<a asp-action="Details" asp-route-id="@(ev.Id)" asp-route-slug="@(ev.UrlSlug)">@(ev.Name)</a>
		</li>
	}
	</ul>
	
	if (Login.CanManageDb) {
		<a asp-action="Edit" asp-route-venueId="@(venue.Id != 0 ? (int?)venue.Id : null)" class="@("textLink addLink")">@(Res.CreateEvent)</a>
	}
	
}

@section BodyScripts {
	<script type="text/javascript">
		app.EventEventsByVenue();
	</script>
}