@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.Shared
@using rule = VocaDb.Model.Service.QueryableExtensions.EventSortRule
@using Res = ViewRes.Event.EventsBySeriesStrings
@model VocaDb.Model.DataContracts.ReleaseEvents.ReleaseEventForApiContract[]

@{
	void SortDirection(rule rule) {
		if (ViewBag.SortRule == rule) {
			<span class="sortDirection_down"></span>
		}
	}
}

@section Toolbar {	
	
	<ul class="nav nav-pills">
		<li class="active">
			<a asp-action="Index">@(Res.ViewList)</a>
		</li>
		<li>
			<a asp-action="EventsBySeries">@(Res.ViewBySeries)</a>
		</li>
		<li>
			<a asp-action="EventsByVenue">@(Res.ViewByVenue)</a>
		</li>
		<li>
			<a asp-action="EventsByDate">@(Res.ViewByDate)</a>
		</li>
	</ul>

	@if (Login.CanManageDb) {
		<a asp-action="Edit" id="@("createEventLink")">@(Res.CreateEvent)</a>
		@:
		<a asp-action="EditSeries" id="@("createSeriesLink")">@(Res.CreateSeries)</a>
		@:
		<a asp-action="Edit" asp-controller="Venue" id="@("createVenueLink")">@(Res.CreateVenue)</a>
	}
}

<partial name="Partials/Shared/_EventThumbs" model="@(new EventThumbsViewModel(Model))" />

@section BodyScripts {
	<script type="text/javascript">
		app.EventIndex();
	</script>
}