@using VocaDb.Web.Helpers;
@inherits VocaDb.Web.Code.VocaDbPage<VocaDb.Model.DataContracts.ReleaseEvents.ReleaseEventSeriesDetailsContract>

@{

	PageProperties.Title = ViewRes.MiscStrings.EventSeries + " - " + Model.Name;
	PageProperties.Subtitle = string.Join(", ", Model.Aliases);

	ViewBag.Parents = new[] {
		Html.ActionLink(ViewRes.SharedStrings.ReleaseEvents, "EventsBySeries")
	};

	var descriptionHtml = MarkdownParser.GetHtml(Model.Description);
	var descriptionStripped = MarkdownParser.GetPlainText(Model.Description);

	PageProperties.Description = descriptionStripped;

	var smallThumbUrl = Url.ImageThumb(Model, VocaDb.Model.Domain.Images.ImageSize.SmallThumb);
	var fullImageUrl = Url.ImageThumb(Model, VocaDb.Model.Domain.Images.ImageSize.Original);

}

@section Toolbar {
	@if (Login.CanManageEventSeries) {
		@Html.ActionLink(ViewRes.SharedStrings.Edit, "EditSeries", new { id = Model.Id }, new { id = "editEventLink" })
		@:
		@Html.ActionLink(ViewRes.EntryDetailsStrings.ViewModifications, "SeriesVersions", new { id = Model.Id }, new { id = "viewVersions" })
	}
	@if (Login.CanManageDb) {
		<a href="@Url.Action("Edit", new { seriesId = Model.Id != 0 ? (int?)Model.Id : null })" id="createEventLink">@ViewRes.Event.EventsBySeriesStrings.CreateEvent</a>
	}	
}

<div class="media">
	@if (!string.IsNullOrEmpty(Model.PictureMime)) {
		<a class="pull-left" href="@fullImageUrl">
			<img class="media-object" src="@smallThumbUrl" alt="Thumb" />
		</a>
	}
	<div class="media-body">
		@if (!string.IsNullOrEmpty(Model.Description)) {
			<p>@Html.Raw(descriptionHtml)</p>
		}
	</div>
	
	@if (Model.WebLinks.Any()) {
		@EntryDetailsHelpers.ExternalLinksList(Model.WebLinks, false)
		<br />
	}
</div>

<h3>@ViewRes.SharedStrings.ReleaseEvents</h3>
<ul>
	@foreach (var ev in Model.Events) {
		<li>
			@Html.ActionLink(ev.Name, "Details", new { id = ev.Id, slug = ev.UrlSlug })
			@if (ev.Date != null) {
				<small>(@ev.Date.Value.ToString("d"))</small>
			}
		</li>
	}
</ul>

@section BodyScripts {
<script type="text/javascript">
	$(function () {
		$("#editEventLink").button({ icons: { primary: 'ui-icon-wrench'} });
		$("#createEventLink").button({ icons: { primary: 'ui-icon-plus' } });
		$("#viewVersions").button({ icons: { primary: 'ui-icon-clock' } });
	});
</script>
}