@using VocaDb.Web.Code
@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.EntryDetails
@using VocaDb.Web.Models.Shared.Partials.Shared
@using VocaDb.Web.Resources.Views.Event
@model VocaDb.Model.DataContracts.ReleaseEvents.ReleaseEventSeriesDetailsContract

@{

	ViewBag.Parents = new[] {
		Html.ActionLink(ViewRes.SharedStrings.ReleaseEvents, "Index")
	};

	var descriptionHtml = MarkdownParser.GetHtml(Model.Description);
	var descriptionStripped = MarkdownParser.GetPlainText(Model.Description);

	PageProperties.Description = descriptionStripped;
	PageProperties.Robots = Model.Deleted ? PagePropertiesData.Robots_Noindex_Follow : string.Empty;

	var smallThumbUrl = Url.ImageThumb(Model, VocaDb.Model.Domain.Images.ImageSize.SmallThumb);
	var fullImageUrl = Url.ImageThumb(Model, VocaDb.Model.Domain.Images.ImageSize.Original);

}

@section Toolbar {
	@if (Login.CanManageDb && Login.CanEdit(Model)) {
		<a asp-action="EditSeries" asp-route-id="@(Model.Id)" id="@("editEventLink")">@(ViewRes.SharedStrings.Edit)</a>
		@:
		<a asp-action="SeriesVersions" asp-route-id="@(Model.Id)" id="@("viewVersions")">@(ViewRes.EntryDetailsStrings.ViewModifications)</a>
	}
	@if (Login.CanManageDb) {
		<a href="@Url.Action("Edit", new { seriesId = Model.Id != 0 ? (int?)Model.Id : null })" id="createEventLink">@ViewRes.Event.EventsBySeriesStrings.CreateEvent</a>
	}	
	<partial name="Partials/Shared/_EntryStatusMessage" model="@(new EntryStatusMessageViewModel(Model.Status))" />
}

@if (Model.Deleted) {
	<partial name="Partials/EntryDetails/_DeletedBanner" model="@(new DeletedBannerViewModel(null))" />
}

<div class="media">
	@if (!string.IsNullOrEmpty(Model.PictureMime)) {
		<a class="pull-left" href="@fullImageUrl">
			<img class="media-object" src="@smallThumbUrl" alt="Thumb" />
		</a>
	}
	<div class="media-body">
		@if (!string.IsNullOrEmpty(Model.Description)) {
			<p>@Html.Raw(descriptionHtml)</p>
		}
	</div>
	
	<p>
		@ViewRes.Event.DetailsStrings.Category:
		@Html.ActionLink(Translate.ReleaseEventCategoryNames[Model.Category], "Index", "Search", UrlMapper.Search.Events(category: Model.Category), null)
	</p>	
	
	@if (Model.WebLinks.Any()) {
		<partial name="Partials/EntryDetails/_ExternalLinksList" model="@(new ExternalLinksListViewModel(Model.WebLinks, false))" />
		<br />
	}
	
	@if (!string.IsNullOrEmpty(Model.AdditionalNames)) {
		<p>
			@SeriesDetailsStrings.Aliases: @Model.AdditionalNames
		</p>		
	}
	
	<p>
		<div class="inline-block">@ViewRes.SharedStrings.Tags:</div>
		<div data-bind="with: tagUsages, visible: tagUsages.tagUsages().length" class="entry-tag-usages inline-block">
			<partial name="Partials/_TagList" />
		</div>
		<div>
			<a class="inline-block" data-bind="jqButton: { disabled: @ToJS(!Login.CanEditTags), icon: 'ui-icon-tag' }, click: tagsEditViewModel.show" href="#">@ViewRes.EntryDetailsStrings.EditTags</a>
		</div>
	</p>
</div>

<h3>@ViewRes.SharedStrings.ReleaseEvents</h3>
<ul>
	@foreach (var ev in Model.Events) {
		<li>
			<a asp-action="Details" asp-route-id="@(ev.Id)" asp-route-slug="@(ev.UrlSlug)">@(ev.Name)</a>
			@if (ev.Date != null) {
				<small>(@ev.Date.Value.ToString("d"))</small>
			}
		</li>
	}
</ul>

<div data-bind="with: tagsEditViewModel">
	<partial name="Partials/_TagsEdit" />
</div>

@section BodyScripts {
<remikus path="/bundles/EventSeries/Details.js" />
<script type="text/javascript">
	var model = {
		id: @Model.Id,
		tags: @ToJS(Model.Tags),
	};
	app.EventSeriesDetails(model);
</script>
}