@using VocaDb.Web.Code;
@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models.Shared.Partials.ArchivedEntry;
@using VocaDb.Web.Models.Shared.Partials.EntryDetails;
@using VocaDb.Web.Models.Shared.Partials.Event;
@inherits VocaDb.Web.Code.VocaDbPage<VocaDb.Web.Models.Shared.ViewVersion<VocaDb.Model.DataContracts.ReleaseEvents.ArchivedEventSeriesVersionDetailsContract>>

@{

	PageProperties.Title = "Revision " + Model.Entry.ArchivedVersion.Version + " for " + Model.Entry.Name;
	PageProperties.Robots = PagePropertiesData.Robots_Noindex_Nofollow;

	if (Model.Entry.ReleaseEventSeries != null) {
		ViewBag.Parents = new[] {
			Html.ActionLink("Events", "Index"),
			Html.ActionLink(Model.Entry.ReleaseEventSeries.Name, "SeriesDetails", new { id = Model.Entry.ReleaseEventSeries.Id }),
			Html.ActionLink("Revisions", "SeriesVersions", new { id = Model.Entry.ReleaseEventSeries.Id })
		};
	} else {
		ViewBag.Parents = new[] {
			Html.ActionLink("Events", "Index"),
		};
	}

}

@section Toolbar {
	<a href="@Url.Action("ArchivedSeriesVersionXml", new { id = Model.Entry.ArchivedVersion.Id })" id="downloadXmlLink">Download XML</a>
	@if (Login.CanViewHiddenRevisions) {
		if (Model.Entry.ArchivedVersion.Hidden) {
			@Html.ActionLink(ViewRes.ViewVersionStrings.UnhideVersion, "UpdateSeriesVersionVisibility", new { archivedVersionId = Model.Entry.ArchivedVersion.Id, hidden = false }, new { id = "showLink", onclick = string.Format("return confirm(\"{0}\");", ViewRes.ViewVersionStrings.ConfirmUnhide) })
		} else {
			@Html.ActionLink(ViewRes.ViewVersionStrings.HideVersion, "UpdateSeriesVersionVisibility", new { archivedVersionId = Model.Entry.ArchivedVersion.Id, hidden = true }, new { id = "hideLink", onclick = string.Format("return confirm(\"{0}\");", ViewRes.ViewVersionStrings.ConfirmHide) })
		}
	}
}

@if (Model.Entry.ArchivedVersion.Hidden) {
	@Html.Partial("Partials/EntryDetails/_HiddenBanner")
}

@if (Model.Entry.ComparableVersions.Any()) {
	using (Html.BeginForm("ViewSeriesVersion", "Event", FormMethod.Post, new { @class = "form form-inline" })) {
		@:Compare to: @Html.DropDownListFor(m => m.ComparedVersionId, ViewHelper.CreateSelectList(Model.Entry.ComparableVersions, i => i.Id, i => i.Version + " (" + i.TranslateChangedFields(Model.EnumTranslations) + " by " + i.AgentName + ")", Model.Entry.ComparedVersionId), new { @class = "input-xlarge", onchange = "$(this).closest('form').submit();" })
		<button type="submit" class="btn btn-primary">Compare</button>
	}
}

@Html.Partial("Partials/ArchivedEntry/_ArchivedObjectVersionProperties", new ArchivedObjectVersionPropertiesViewModel(Model.Version(Model.Entry.ArchivedVersion), Model.Version(Model.Entry.ComparedVersion)))

@Html.Partial("Partials/Event/_PrintArchivedEventSeriesData", new PrintArchivedEventSeriesDataViewModel(Model.Entry.Versions))

@Html.Partial("Partials/EntryDetails/_ReportEntryVersionPopupKnockout", new ReportEntryVersionPopupKnockoutViewModel())

@section BodyScripts {
	<script type="text/javascript">

		$(function () {

			$("#downloadXmlLink").button({ icons: { primary: 'ui-icon-arrowthickstop-1-s' } });
			$("#reportEntryLink").button({ icons: { primary: 'ui-icon-alert' } });
			$("#showLink").button({ icons: { primary: 'ui-icon-unlocked' } });
			$("#hideLink").button({ icons: { primary: 'ui-icon-locked' } });

			var rep = new app.ReleaseEventRepository(new app.UrlMapper('@RootPath'));
			var viewModel = new app.ArchivedEntryViewModel(@Model.Entry.ReleaseEventSeries.Id, @Model.Entry.ArchivedVersion.Version, rep);
			ko.applyBindings(viewModel);

		});

	</script>
}