@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models.Shared.Partials.ArchivedEntry;
@using VocaDb.Web.Models.Shared.Partials.Song;
@model PrintArchivedSongDataViewModel

<div class="well well-transparent archived-entry-contents">
	<h4>Content</h4>

	<table class="table table-bordered">
		@Html.Partial("Partials/ArchivedEntry/_DataRow", new DataRowViewModel("Id", Model.ComparedSongs.FirstData.Id))
		@ArchivedEntryHelpers.TranslatedNameRow(Model.ComparedSongs, d => d.TranslatedName)
		@ArchivedEntryHelpers.DataRowList("Names", Model.ComparedSongs, d => DataFormatUtils.GenerateHtml(d.Names, name => Html.Partial("Partials/ArchivedEntry/_NameInfo", new NameInfoViewModel(name))))
		@ArchivedEntryHelpers.DataRow(Html, "Notes", Model.ComparedSongs, d => d.Notes, preserveLineBreaks: true)
		@ArchivedEntryHelpers.DataRow(Html, "Notes (en)", Model.ComparedSongs, d => d.NotesEng, preserveLineBreaks: true)
		@ArchivedEntryHelpers.DataRow(Html, "Song type", Model.ComparedSongs, d => d.SongType)
		@ArchivedEntryHelpers.DataRow(Html, "Original version", Model.ComparedSongs, d => Html.Partial("Partials/ArchivedEntry/_ObjectRefInfo", new ObjectRefInfoViewModel(d.OriginalVersion)))
		@ArchivedEntryHelpers.DataRow(Html, "Duration", Model.ComparedSongs, d => DateTimeUtils.FormatFromSeconds(d.LengthSeconds))
		@ArchivedEntryHelpers.DataRow(Html, "Release event", Model.ComparedSongs, d => Html.Partial("Partials/ArchivedEntry/_ObjectRefInfo", new ObjectRefInfoViewModel(d.ReleaseEvent)))
		@ArchivedEntryHelpers.DataRow(Html, "Publish date", Model.ComparedSongs, d => d.PublishDate)
		@ArchivedEntryHelpers.DataRowList("External links", Model.ComparedSongs, d => DataFormatUtils.GenerateHtml(d.WebLinks, webLink => Html.Partial("Partials/ArchivedEntry/_WebLinkInfo", new WebLinkInfoViewModel(webLink))))
		@ArchivedEntryHelpers.DataRowList("Artists", Model.ComparedSongs, d => DataFormatUtils.GenerateHtml(d.Artists != null ? (d.Artists.OrderBy(a => a.NameHint)) : null, artist => MvcHtmlString.Create(artist.NameHint + " [" + artist.Id + "] - IsSupport: " + artist.IsSupport + ", Roles: " + artist.Roles)))
		@ArchivedEntryHelpers.DataRowList("PVs", Model.ComparedSongs, d => DataFormatUtils.GenerateHtml(d.PVs, pv => Html.Partial("Partials/ArchivedEntry/_PVInfo", new PVInfoViewModel(pv))))
		@ArchivedEntryHelpers.DataRowList("Lyrics", Model.ComparedSongs, d => DataFormatUtils.GenerateHtml(d.Lyrics, lyrics => Html.Partial("Partials/Song/_LyricsInfo", new LyricsInfoViewModel(lyrics))))
	</table>

</div>