@using VocaDb.Model.Domain
@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.Shared
@model EntryStatusMessageViewModel

@switch (Model.Status)
{
	case EntryStatus.Draft:
		<span title="@HelperRes.HelperStrings.StatusDescriptionDraft">
			<span class="icon draftIcon"></span>
			@Translate.EntryStatusNames[EntryStatus.Draft]
		</span>
		break;

	case EntryStatus.Finished:
		<span title="@HelperRes.HelperStrings.StatusDescriptionFinished">
			<span class="icon asteriskIcon"></span>
			@Translate.EntryStatusNames[EntryStatus.Finished]
		</span>
		break;

	case EntryStatus.Approved:
		<span title="@HelperRes.HelperStrings.StatusDescriptionApproved">
			<span class="icon tickIcon"></span>
			@Translate.EntryStatusNames[EntryStatus.Approved]
		</span>
		break;

	case EntryStatus.Locked:
		<span title="@HelperRes.HelperStrings.StatusDescriptionLocked">
			<span class="icon lockIcon"></span>
			@Translate.EntryStatusNames[EntryStatus.Locked]
		</span>
		break;

}