@using VocaDb.Web.Code
@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Album
@using VocaDb.Web.Models.Shared.Partials.Album
@using VocaDb.Web.Models.Shared.Partials.ArchivedEntry
@using VocaDb.Web.Models.Shared.Partials.EntryDetails
@model VocaDb.Model.DataContracts.Albums.ArchivedAlbumVersionDetailsContract

@{
	
    PageProperties.Title = "Revision " + Model.ArchivedVersion.Version + " for " + Model.Name;
	PageProperties.Robots = PagePropertiesData.Robots_Noindex_Nofollow;
	
	if (Model.Album != null) {
		ViewBag.Parents = new[] {
			Html.ActionLink("Albums", "Index"),
			Html.ActionLink(Model.Album.Name, "Details", new { id = Model.Album.Id }),
			Html.ActionLink("Revisions", "Versions", new { id = Model.Album.Id })
		};
	} else {
		ViewBag.Parents = new[] {
			Html.ActionLink("Albums", "Index")
		};
	}

}

@section Toolbar {
@if (Login.CanRevertEntryVersions && Model.CanBeReverted) {
	<a asp-action="RevertToVersion" asp-route-archivedAlbumVersionId="@(Model.ArchivedVersion.Id)" id="@("revertLink")" onclick="@(string.Format("return confirm(\"{0}\");", ViewRes.ViewVersionStrings.ConfirmRevertToVersion))">@(ViewRes.ViewVersionStrings.RevertToVersion)</a>
}
&nbsp;
<a href="@Url.Action("ArchivedVersionXml", new { id = Model.ArchivedVersion.Id })" id="downloadXmlLink">Download XML</a>
<a href="#" id="reportEntryLink" data-bind="click: reportViewModel.show">@ViewRes.EntryDetailsStrings.ReportAnError</a>
@if (Login.CanViewHiddenRevisions) {
	if (Model.ArchivedVersion.Hidden) {
		<a asp-action="UpdateVersionVisibility" asp-route-archivedVersionId="@(Model.ArchivedVersion.Id)" asp-route-hidden="@(false)" id="@("showLink")" onclick="@(string.Format("return confirm(\"{0}\");", ViewRes.ViewVersionStrings.ConfirmUnhide))">@(ViewRes.ViewVersionStrings.UnhideVersion)</a>
	} else {
		<a asp-action="UpdateVersionVisibility" asp-route-archivedVersionId="@(Model.ArchivedVersion.Id)" asp-route-hidden="@(true)" id="@("hideLink")" onclick="@(string.Format("return confirm(\"{0}\");", ViewRes.ViewVersionStrings.ConfirmHide))">@(ViewRes.ViewVersionStrings.HideVersion)</a>
	}
}
}

@if (Model.ArchivedVersion.Hidden) {
	<partial name="Partials/EntryDetails/_HiddenBanner" />
}

@if (Model.ComparableVersions.Any()) {
	using (Html.BeginForm("ViewVersion", "Album", FormMethod.Post, new { @class = "form form-inline" })) {
		@:Compare to: @Html.DropDownListFor(m => m.ComparedVersionId, ViewHelper.CreateSelectList(Model.ComparableVersions, i => i.Id, i => i.Version + " (" + Versions.GetChangeString(i.ChangedFields) + " by " + i.AgentName + ")", Model.ComparedVersionId), new { @class = "input-xlarge", onchange = "$(this).closest('form').submit();" })
		<button type="submit" class="btn btn-primary">Compare</button>
	}
}

<partial name="Partials/ArchivedEntry/_ArchivedObjectVersionProperties" model="@(new ArchivedObjectVersionPropertiesViewModel(Versions.CreateForAlbum(Model.ArchivedVersion), Model.ComparedVersion != null ? Versions.CreateForAlbum(Model.ComparedVersion) : null))" />

<partial name="Partials/Album/_PrintArchivedAlbumData" model="@(new PrintArchivedAlbumDataViewModel(Model.Versions))" />

<partial name="Partials/EntryDetails/_ReportEntryVersionPopupKnockout" model="@(new ReportEntryVersionPopupKnockoutViewModel())" />

@section BodyScripts {
    <script type="text/javascript">

		$(function () {

            $("#revertLink").button({ icons: { primary: 'ui-icon-arrowrefresh-1-w'} });
            $("#downloadXmlLink").button({ icons: { primary: 'ui-icon-arrowthickstop-1-s' } });
			$("#reportEntryLink").button({ icons: { primary: 'ui-icon-alert' } });
			$("#showLink").button({ icons: { primary: 'ui-icon-unlocked' } });
			$("#hideLink").button({ icons: { primary: 'ui-icon-locked' } });

            var rep = new app.AlbumRepository('@RootPath', @LanguagePreferenceInt);

            var viewModel = new app.ArchivedAlbumViewModel(@Model.Album.Id, @Model.ArchivedVersion.Version, rep);
            ko.applyBindings(viewModel);

        });

    </script>
}