@using System.Globalization
@using VocaDb.Model.Domain.Venues
@using VocaDb.Web.Code
@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.EntryDetails
@using VocaDb.Web.Models.Shared.Partials.Shared
@model VocaDb.Model.DataContracts.Venues.VenueForApiContract

@{
	
	ViewBag.Parents = new[] {
		Html.ActionLink(ViewRes.SharedStrings.Venues, "EventsByVenue", "Event")
	};

	var descriptionHtml = MarkdownParser.GetHtml(Model.Description);
	var descriptionStripped = MarkdownParser.GetPlainText(Model.Description);

	PageProperties.Description = descriptionStripped;
	PageProperties.Robots = Model.Deleted ? PagePropertiesData.Robots_Noindex_Follow : string.Empty;

}

@section Toolbar {
	@Html.ActionLink(ViewRes.SharedStrings.Edit, "Edit", new { id = Model.Id }, new { id = "editVenueLink", @class = (Login.CanEdit(Model) ? "" : "disabled") })
	@Html.ActionLink(ViewRes.EntryDetailsStrings.ViewModifications, "Versions", new { id = Model.Id }, new { id = "viewVersions" })
	@if (Login.CanManageDb) {
		<a href="@Url.Action("Edit", "Event", new { venueId = Model.Id != 0 ? (int?)Model.Id : null }, null)" id="createEventLink">@ViewRes.Event.EventsBySeriesStrings.CreateEvent</a>
	}
	<a href="#" id="reportEntryLink" data-bind="click: reportViewModel.show">@ViewRes.EntryDetailsStrings.ReportAnError</a>
	@Html.Partial("Partials/Shared/_EntryStatusMessage", new EntryStatusMessageViewModel(Model.Status))
}

@if (Model.Deleted) {
	@Html.Partial("Partials/EntryDetails/_DeletedBanner", new DeletedBannerViewModel(null))
}

@if (Model.Coordinates.HasValue) {
	@Html.Partial("Partials/Shared/_EmbedGoogleMaps", new EmbedGoogleMapsViewModel(Model.Coordinates))
}

<div class="media">
	<div class="media-body">
		@if (!string.IsNullOrEmpty(Model.Description)) {
			<p>@Html.Raw(descriptionHtml)</p>
		}
	</div>
	
	@if (Model.WebLinks.Any()) {
		@Html.Partial("Partials/EntryDetails/_ExternalLinksList", new ExternalLinksListViewModel(Model.WebLinks, false))
		<br />
	}
	
	@if (!string.IsNullOrEmpty(Model.AdditionalNames)) {
		<p>
			@ViewRes.Venue.DetailsStrings.Aliases: @Model.AdditionalNames
		</p>		
	}

	@if (!string.IsNullOrEmpty(Model.AddressCountryCode)) {
		<p>
			@ViewRes.Venue.DetailsStrings.Country: @(new RegionInfo(Model.AddressCountryCode).DisplayName)
		</p>
	}

	@if (!string.IsNullOrEmpty(Model.Address)) { 
		<p>
			@ViewRes.Venue.DetailsStrings.Address: @Model.Address
		</p>
	}
</div>

<h3>@ViewRes.SharedStrings.ReleaseEvents</h3>
<ul>
	@foreach (var ev in Model.Events) {
		<li>
			@Html.ActionLink(ev.Name, "Details", "Event", new { id = ev.Id }, null)
			@if (ev.Date != null) {
				<small>(@ev.Date.Value.ToString("d"))</small>
			}
		</li>
	}
</ul>

@Html.Partial("Partials/EntryDetails/_ReportEntryPopupKnockout", new ReportEntryPopupKnockoutViewModel())

@section BodyScripts {
<script src="@LaravelMixHelper.GetPathToVersionedMixFile("~/bundles/Venue/Details.js")"></script>
<script type="text/javascript">
	$(function () {

		$("#editVenueLink").button({ disabled: $("#editVenueLink").hasClass("disabled"), icons: { primary: 'ui-icon-wrench'} });
		$("#viewVersions").button({ icons: { primary: 'ui-icon-clock' } });
		$("#createEventLink").button({ icons: { primary: 'ui-icon-plus' } });
		$("#reportEntryLink").button({ icons: { primary: 'ui-icon-alert' } });
		
		var loggedUserId = @UserContext.LoggedUserId;
		var rootPath = '@RootPath';
		var urlMapper = new app.UrlMapper(rootPath);
		var repoFactory = new app.RepositoryFactory(urlMapper, @LanguagePreferenceInt);
		var venueRepo = repoFactory.venueRepository();
		var reportTypes = @ToJS(ReportUtils.GetReportTypes(Translate.VenueReportTypeNames, VenueReport.ReportTypesWithRequiredNotes));

		var vm = new app.VenueDetailsViewModel(venueRepo, reportTypes, loggedUserId, @Model.Id);
		ko.applyBindings(vm);

	});
</script>
}
