@using System.Web.Mvc.Html
@using System.Web.Routing
@using VocaDb.Model.DataContracts.Albums;
@using VocaDb.Model.Domain.Users
@using VocaDb.Model.Service.Search.AlbumSearch
@using VocaDb.Web.Helpers;
@using VocaDb.Model.Utils
@inherits VocaDb.Web.Code.HelperPage

@helper AlbumLink(AlbumContract album) {
	@Html.ActionLink(album.Name, "Details", "Album", new RouteValueDictionary { { "id", album.Id } }, new Dictionary<string, object> { { "title", album.AdditionalNames }, { "data-entry-id", album.Id }, { "class", "albumLink" }})
}

@helper AlbumGrid(IEnumerable<AlbumContract> albums, int columns,
	bool displayRating, bool displayReleaseDate, bool displayType = false) {
	
	<table>
		@{ int i = 0; }
	
		@foreach (var album in albums) {
	  if (i % columns == 0) {
				@Html.Raw("<tr>")
	  }
			<td>
				@{ Html.RenderPartial("Partials/Album/_AlbumIconLink", album); }
			</td>
			<td>
				@Html.ActionLink(album.Name, "Details", "Album", new { id = album.Id }, new { title = album.AdditionalNames })
				@if (displayType) {
					@("(")@Translate.DiscTypeName(album.DiscType)@(")")
	}
				<br />
				<span class="extraInfo">@album.ArtistString</span>
				@if (displayReleaseDate && !album.ReleaseDate.IsEmpty) {
					<br />
					<span>@HelperRes.AlbumHelpersStrings.Released @album.ReleaseDate.Formatted</span>
	}
			</td>
			{ i++; }
			if (i % columns == 0) {
				@Html.Raw("</tr>")
			}
  }
		@if (i % columns != 0) {
			@Html.Raw("</tr>")
  }
	</table>
			
}

@helper ArtistAlbumParticipationStatusOptionsKnockout(string binding) {
	{
		var options = new Dictionary<string, string> {
			{ ArtistAlbumParticipationStatus.Everything.ToString(), "Everything" },
			{ ArtistAlbumParticipationStatus.OnlyMainAlbums.ToString(), "Only main albums" },
			{ ArtistAlbumParticipationStatus.OnlyCollaborations.ToString(), "Only collaborations" },
		};
		@KnockoutHelpers.CheckBoxButtons(options, binding)
	} 
}

@helper DetailsLink(AlbumContract album) {
	@Html.ActionLink(album.Name, "Details", "Album", new { id = album.Id }, new { title = album.AdditionalNames })
}

@helper DiscTypesDropdownKnockout(string binding) {
	@KnockoutHelpers.CheckBoxButtons(Translate.DiscTypeNames.GetValuesAndNamesStrings(AppConfig.AlbumTypes), binding)
}

@helper EditCollectionDialog(PurchaseStatus purchaseStatus, MediaType mediaType) {
	
<div id="editCollectionDialog" style="display:none" title="@ViewRes.Album.DetailsStrings.EditAlbumInCollection">

	@ViewRes.Album.DetailsStrings.Status: 
	@Html.EnumDropDownList("collectionStatusSelect", Translate.AlbumCollectionStatusNames, new { id = "collectionStatusSelect", @class = "input-medium" }, purchaseStatus)
	<br />

	@ViewRes.Album.DetailsStrings.MediaType:
	@{ var fields = Translate.AlbumMediaTypeNames.GetTranslatedFields(MediaType.Other, MediaType.PhysicalDisc, MediaType.DigitalDownload); }
	@Html.EnumDropDownList("collectionMediaSelect", fields, new { id = "collectionMediaSelect", @class = "input-medium" }, mediaType)

	<div>
		@ViewRes.Album.DetailsStrings.MyRating: 
		<div id="collectionRating"></div>
		@Html.Raw("&nbsp;")
		<a href="#" id="removeRating" class="textLink deleteLink">@ViewRes.SharedStrings.Delete</a>
	</div>
</div>
	
}