@using System.Web.Mvc.Html;
@using VocaDb.Model.DataContracts;
@using VocaDb.Model.DataContracts.Versioning
@using VocaDb.Model.Domain;
@using VocaDb.Model.Domain.Globalization
@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models.Shared.Partials.ArchivedEntry;
@inherits VocaDb.Web.Code.HelperPage

@functions {
	public static IHtmlString DataRow<T>(System.Web.Mvc.HtmlHelper htmlHelper, string name, T primary, T compared, Func<T, object> valGetter, bool preserveLineBreaks = false)
		where T : class {

		var val1 = valGetter(primary);
		var val2 = (compared != null ? valGetter(compared) : null);

		return htmlHelper.Partial("Partials/ArchivedEntry/_DataRow", new DataRowViewModel(name, val1, val2, preserveLineBreaks));
		
    }

	public static IHtmlString DataRow<T>(System.Web.Mvc.HtmlHelper htmlHelper, string name, ComparedVersionsContract<T> comparedVersions, Func<T, object> valGetter, bool preserveLineBreaks = false)
		where T : class {

		var val1 = valGetter(comparedVersions.FirstData);
		var val2 = (comparedVersions.SecondData != null ? valGetter(comparedVersions.SecondData) : null);

		return htmlHelper.Partial("Partials/ArchivedEntry/_DataRow", new DataRowViewModel(name, val1, val2, preserveLineBreaks));

	}

	public static IHtmlString DataRowList<T>(System.Web.Mvc.HtmlHelper htmlHelper, string name, T primary, T compared, Func<T, IEnumerable<IHtmlString>> valGetter)
		where T : class {

		var val1 = valGetter(primary);
		var val2 = (compared != null ? valGetter(compared) : null);

		return htmlHelper.Partial("Partials/ArchivedEntry/_DataRowList", new DataRowListViewModel(name, val1, val2));
			
	}

	public static IHtmlString DataRowList<T>(System.Web.Mvc.HtmlHelper htmlHelper, string name, ComparedVersionsContract<T> comparedVersions, Func<T, IEnumerable<IHtmlString>> valGetter)
		where T : class {

		var val1 = valGetter(comparedVersions.FirstData);
		var val2 = (comparedVersions.SecondData != null ? valGetter(comparedVersions.SecondData) : null);

		return htmlHelper.Partial("Partials/ArchivedEntry/_DataRowList", new DataRowListViewModel(name, val1, val2));

	}
		
	public static string FormatReleaseDate(OptionalDateTimeContract contract) {
		return OptionalDateTime.ToDateTime(contract.Year, contract.Month, contract.Day).ToShortDateString();
	}

	public static IHtmlString ObjectRefList<T>(System.Web.Mvc.HtmlHelper htmlHelper, string name, ComparedVersionsContract<T> comparedVersions, 
		Func<T, IEnumerable<ObjectRefContract>> valGetter) where T : class {
		
		return DataRowList(htmlHelper, name, comparedVersions, d => DataFormatUtils.GenerateHtml(valGetter(d), objRef => Html.Partial("Partials/ArchivedEntry/_ObjectRefInfo", new ObjectRefInfoViewModel(objRef))));
		
	}

	public static IHtmlString PictureRow<T>(System.Web.Mvc.HtmlHelper htmlHelper, string name, ComparedVersionsContract<T> comparedVersions, Func<int, string> urlGetter)
		where T : class {

		var val1 = urlGetter(comparedVersions.FirstId);
		var val2 = (comparedVersions.SecondId != 0 ? urlGetter(comparedVersions.SecondId) : null);

		return htmlHelper.Partial("Partials/ArchivedEntry/_PictureRow", new PictureRowViewModel(name, val1, val2));
				
	}
	
	public static HelperResult TranslatedNameRow<T>(ComparedVersionsContract<T> comparedVersions, Func<T, TranslatedStringContract> valGetter)
		where T : class {

		var val1 = valGetter(comparedVersions.FirstData);
		var val2 = comparedVersions.SecondData != null ? valGetter(comparedVersions.SecondData) : null;

		return TranslatedNameRow(val1, val2);
		
	}

	public static HelperResult TranslatedNameRow<T>(ComparedVersionsContract<T> comparedVersions, Func<T, ArchivedTranslatedStringContract> valGetter)
		where T : class {

		var val1 = valGetter(comparedVersions.FirstData);
		var val2 = comparedVersions.SecondData != null ? valGetter(comparedVersions.SecondData) : null;

		return TranslatedNameRow(val1, val2);

	}
	
}

@helper TranslatedNameRow(TranslatedStringContract name, TranslatedStringContract compareToName = null) {
	<tr>
		<td>Original language:</td>
		<td colspan="@(compareToName != null ? 1 : 2)">
			@Translate.ContentLanguageSelectionName(name.DefaultLanguage)
		</td>
		@if (compareToName != null) {
			<td>			
				@Translate.ContentLanguageSelectionName(compareToName.DefaultLanguage)
			</td>
		}
	</tr>
	<tr>
		<td>Primary names</td>
		<td colspan="@(compareToName != null ? 1 : 2)">
			@Translate.ContentLanguageSelectionName(ContentLanguageSelection.Japanese): @name.Japanese<br />
			@Translate.ContentLanguageSelectionName(ContentLanguageSelection.Romaji): @name.Romaji<br />
			@Translate.ContentLanguageSelectionName(ContentLanguageSelection.English): @name.English<br />
		</td>
		@if (compareToName != null) {
			<td>			
				@(Translate.ContentLanguageSelectionName(ContentLanguageSelection.Japanese) + ": " + compareToName.Japanese)<br />
				@(Translate.ContentLanguageSelectionName(ContentLanguageSelection.Romaji) + ": " + compareToName.Romaji)<br />
				@(Translate.ContentLanguageSelectionName(ContentLanguageSelection.English) + ": " +  compareToName.English)<br />			
			</td>
		}
	</tr>
}

@helper TranslatedNameRow(ArchivedTranslatedStringContract name, ArchivedTranslatedStringContract compareToName = null) {
	<tr>
		<td>Original language</td>
		<td colspan="@(compareToName != null ? 1 : 2)">
			@(name != null ? Translate.ContentLanguageSelectionName(name.DefaultLanguage) : string.Empty)
		</td>
		@if (compareToName != null) {
			<td>			
				@Translate.ContentLanguageSelectionName(compareToName.DefaultLanguage)
			</td>
		}
	</tr>
	<tr>
		<td>Primary names</td>
		<td colspan="@(compareToName != null ? 1 : 2)">
			@if (name != null) {
				@:@Translate.ContentLanguageSelectionName(ContentLanguageSelection.Japanese): @name.Japanese<br />
				@:@Translate.ContentLanguageSelectionName(ContentLanguageSelection.Romaji): @name.Romaji<br />
				@:@Translate.ContentLanguageSelectionName(ContentLanguageSelection.English): @name.English<br />
			}
		</td>
		@if (compareToName != null) {
			<td>			
				@(Translate.ContentLanguageSelectionName(ContentLanguageSelection.Japanese) + ": " + compareToName.Japanese)<br />
				@(Translate.ContentLanguageSelectionName(ContentLanguageSelection.Romaji) + ": " + compareToName.Romaji)<br />
				@(Translate.ContentLanguageSelectionName(ContentLanguageSelection.English) + ": " +  compareToName.English)<br />
			</td>
		}
	</tr>
}
