@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using System.Web.Routing
@using VocaDb.Model.DataContracts.Artists;
@using VocaDb.Model.Utils
@using VocaDb.Web.Helpers;
@inherits VocaDb.Web.Code.HelperPage

@helper ArtistLink(ArtistContract artist, bool typeLabel = false, string name = null, bool releaseYear = false) {
	if (typeLabel) {
		Html.RenderPartial("Partials/Artist/_ArtistTypeLabel", artist.ArtistType);
	}
	@Html.ActionLink(name ?? artist.Name, "Details", "Artist", new RouteValueDictionary { { "id", artist.Id } }, new Dictionary<string, object> { { "title", artist.AdditionalNames }, { "data-entry-id", artist.Id }, { "class", "artistLink" }})
	if (releaseYear && artist.ReleaseDate.HasValue) {<small class="muted">&nbsp;(@artist.ReleaseDate.Value.Year)</small>}
}
	
@helper ArtistLinkList(IEnumerable<ArtistContract> artists, bool typeLabel = false, bool releaseYear = false) {
	@Html.LinkList(artists, a => new MvcHtmlString(ArtistLink(a, typeLabel, releaseYear: releaseYear).ToString()))
}

@helper ArtistTypesDropdownKnockout(string binding) {
	<select data-bind="value: @(binding)">
		@foreach (var artistType in Translate.ArtistTypeNames.GetTranslatedFields(AppConfig.ArtistTypes)) {
			<option value="@artistType.Id">@artistType.Name</option>
		}
	</select>
}