@using System.Web.Mvc.Html;
@using VocaDb.Web.Models.Shared.Partials.Comment;
@inherits VocaDb.Web.Code.HelperPage


@helper CommentKnockout(string messageBinding, bool allowMarkdown, string deleteHandler = "$parent.deleteComment", string editHandler = null,
	bool standalone = true, IHtmlString body = null) {
	<div class="comment media @(standalone ? "comment-large" : "")">
		<a data-bind="attr: { href: vdb.utils.EntryUrlMapper.details_user_byName(author.name) }" class="pull-left">
			@UserHelpers.ProfileIconKnockout(VocaDb.Model.Domain.Images.ImageSize.Thumb, binding: "author", size: 70)
		</a>

		<div class="media-body">
			<div class="pull-right">
				<span data-bind="timeAgo: created" class="comment-date"></span>
					
				@if (editHandler != null) {
					<!-- ko if: $data.canBeEdited -->
					@:&nbsp;&nbsp;
					<a data-bind="click: function() { @(editHandler)($data); }" href="#" class="textLink editLink">@ViewRes.SharedStrings.Edit</a>
					<!-- /ko -->
				}

				<!-- ko if: $data.canBeDeleted -->
				&nbsp;&nbsp;
				<a data-bind="confirmClick: { message: 'Are you sure you want to delete this comment?', click: function() { @(deleteHandler)($data); } }" href="#" class="textLink deleteLink">@ViewRes.SharedStrings.Delete</a>
				<!-- /ko -->
			</div>
			<h3 class="media-heading comment-large-header">
				<a data-bind="attr: { href: vdb.utils.EntryUrlMapper.details_user_byName(author.name) }, text: author.name"></a>
			</h3>
			@if (body != null) {
				@body
			} else {
				Html.RenderPartial("Partials/Comment/_CommentBodyKnockout", new CommentBodyKnockoutViewModel(messageBinding));
			}
		</div>
	</div>
}
