@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Microsoft.Web.Helpers;
@using VocaDb.Model.DataContracts
@using VocaDb.Model.Domain.ExtLinks
@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.EntryDetails
@inherits VocaDb.Web.Code.HelperPage

@helper EntryDeletePopup(string confirmText, string viewModelBindingName = "deleteViewModel", string deleteButtonId = "deleteLink") {
	Html.RenderPartial("Partials/EntryDetails/_EntryDeletePopupBase", new EntryDeletePopupBaseViewModel(confirmText, viewModelBindingName, deleteButtonId, ViewRes.SharedStrings.Delete, ViewRes.SharedStrings.Delete));
}

@helper EntryTrashPopup(string confirmText, string viewModelBindingName = "trashViewModel",  string deleteButtonId = "trashLink") {
	Html.RenderPartial("Partials/EntryDetails/_EntryDeletePopupBase", new EntryDeletePopupBaseViewModel(confirmText, viewModelBindingName, deleteButtonId, ViewRes.EntryEditStrings.MoveToTrash, ViewRes.EntryEditStrings.MoveToTrash));
}

@helper ExternalLinksList(IEnumerable<WebLinkContract> webLinks, bool showCategory = false) {
    
    foreach (var link in webLinks) {
        <a class="extLink" href="@VocaDb.Model.Service.Helpers.UrlHelper.MakePossileAffiliateLink(link.Url)" onclick="vdb.functions.trackOutboundLink(event)">@link.DescriptionOrUrl</a>
        if (showCategory) {
            @("(")@Translate.WebLinkCategoryNames[link.Category]@(")")
        }
        <br />
	}

}

@helper ExternalLinksList(IEnumerable<WebLinkForApiContract> webLinks, bool showCategory = false) {
    
    foreach (var link in webLinks) {
        <a class="extLink" href="@VocaDb.Model.Service.Helpers.UrlHelper.MakePossileAffiliateLink(link.Url)" onclick="vdb.functions.trackOutboundLink(event)">@link.DescriptionOrUrl</a>
        if (showCategory) {
            @("(")@Translate.WebLinkCategoryNames[link.Category]@(")")
        }
        <br />
	}

}

@helper ExternalLinksRows(ICollection<WebLinkContract> webLinks) {
    
    var official = webLinks.Where(l => l.Category == WebLinkCategory.Official || l.Category == WebLinkCategory.Commercial).ToArray();
    var other = webLinks.Where(l => !official.Contains(l)).ToArray();
    
    if (official.Any()) {
        <tr>
            <td>@ViewRes.EntryDetailsStrings.OfficialLinks</td>
            <td>
                @ExternalLinksList(official, false)
            </td>	
        </tr>
    }    

    if (other.Any()) {
        <tr>
            <td>@ViewRes.EntryDetailsStrings.OtherLinks</td>
            <td>
                @ExternalLinksList(other, true)
            </td>	
        </tr>
    }    
        
}
		  
@helper ReportEntryPopup(MvcHtmlString reportTypesDropdown) {
	
<div id="reportEntryPopup" style="display:none;" title="@ViewRes.EntryDetailsStrings.ReportAnError">
	
	<label>
		@ViewRes.EntryDetailsStrings.ReportType
	</label>
	@reportTypesDropdown
	
	<label>
		@ViewRes.EntryDetailsStrings.ReportNotes
	</label>
	@Html.TextArea("reportNotes", new { id = "reportNotes", @class = "input-xlarge" })

</div>

}

@helper ShareLinks(string title, string url) {
	@(ViewRes.EntryDetailsStrings.Share + ":")
	@LinkShare.GetHtml(title, pageLinkBack: url, linkSites: new[] { LinkShareSite.Facebook, LinkShareSite.Reddit, LinkShareSite.Twitter })	
}