@using VocaDb.Model.DataContracts
@using VocaDb.Web.Helpers
@inherits VocaDb.Web.Code.HelperPage

@helper ExternalLinksList(IEnumerable<WebLinkContract> webLinks, bool showCategory = false) {
    
    foreach (var link in webLinks) {
        <a class="extLink" href="@VocaDb.Model.Service.Helpers.UrlHelper.MakePossileAffiliateLink(link.Url)" onclick="app.functions.trackOutboundLink(event)" style="@(link.Disabled ? "text-decoration: line-through;" : "")">@link.DescriptionOrUrl</a>
        if (showCategory) {
            @("(")@Translate.WebLinkCategoryNames[link.Category]@(")")
        }
        <a href="https://web.archive.org/web/*/@link.Url" target="_blank">
            <img src="@Url.Content("~/Content/ExtIcons/archive.png")" title="See this page archived on the Wayback Machine">
        </a>
        <br />
	}

}

@helper ExternalLinksList(IEnumerable<WebLinkForApiContract> webLinks, bool showCategory = false) {
    
    foreach (var link in webLinks) {
        <a class="extLink" href="@VocaDb.Model.Service.Helpers.UrlHelper.MakePossileAffiliateLink(link.Url)" onclick="app.functions.trackOutboundLink(event)" style="@(link.Disabled ? "text-decoration: line-through;" : "")">@link.DescriptionOrUrl</a>
        if (showCategory) {
            @("(")@Translate.WebLinkCategoryNames[link.Category]@(")")
        }
        <a href="https://web.archive.org/web/*/@link.Url" target="_blank">
            <img src="@Url.Content("~/Content/ExtIcons/archive.png")" title="See this page archived on the Wayback Machine">
        </a>
        <br />
	}

}