@inherits VocaDb.Web.Code.HelperPage
@using System.Web.Mvc
@using VocaDb.Web.Code
@using VocaDb.Web.Helpers;

@helper BootstrapMedia(string url, HelperResult body, string heading, string thumbUrl) {
	<div class="media">
		@if (thumbUrl != null) {
			<a class="pull-left" href="@url">
				<img class="media-object" src="@thumbUrl" alt="Thumb" />
			</a>
		}
		<div class="media-body">
			@body
		</div>
	</div>
}

@helper ConvertNewlinesToBreaks(string text) {
	var lines = text.Split(new[] { Environment.NewLine, "\n" }, StringSplitOptions.None);
	foreach (var line in lines) {
		@Html.Raw(line)
		<br />
	}
}

@helper FormatText(string text) {
	text = ViewHelper.ParseBBCode(text);
	<text>@ConvertNewlinesToBreaks(text)</text>
}

@* Transforms Markdown-formatted text into HTML. The input will be sanitized for any HTML tags first. *@
@helper FormatMarkdown(string text) {
	@Html.Raw(MarkdownParser.GetHtml(text))
}

@helper MetaTag(string name, string content) {
	if (!string.IsNullOrEmpty(content)) {
		<meta name="@name" content="@content" />
	}
}

@helper OpenGraphMetaTags(PagePropertiesData pageProperties) {
	@MetaTag("og:url", pageProperties.CanonicalUrl)
	@MetaTag("og:title", pageProperties.OpenGraph.Title)
	@MetaTag("og:description", pageProperties.OpenGraph.Description)
	@MetaTag("og:type", pageProperties.OpenGraph.Type)
}