@inherits VocaDb.Web.Code.HelperPage
@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared

@helper PagingTemplate(IPagingData pagingData, string pagingItemName, Func<IHtmlString> contentFac) {
	
	if (!string.IsNullOrEmpty(pagingItemName)) {		 
		<p>@pagingData.ItemsBase.TotalItemCount @pagingItemName.</p>
	}

	<div class="pager">
		@Html.Pager(pagingData)
	</div>

	@contentFac()

	<div class="pager">
		@Html.Pager(pagingData)
	</div>
		
}