@inherits VocaDb.Web.Code.HelperPage
@using System.Web.Mvc.Html;
@using VocaDb.Model.DataContracts.Songs;
@using VocaDb.Web.Helpers;

@helper SongIconLink(SongContract song, int? albumId = null) {
	<a href="@Url.Action("Details", "Song", ViewHelper.GetRouteParams(song, albumId))">
		<img src="@VocaDb.Model.Service.Helpers.UrlHelper.UpgradeToHttps(song.ThumbUrl)" alt="Cover" class="coverPicThumb" referrerpolicy="same-origin"/>
	</a>		
}

@helper SongIconLink(SongForApiContract song) {
	<a href="@Url.SongDetails(song)">
		<img src="@VocaDb.Model.Service.Helpers.UrlHelper.UpgradeToHttps(song.ThumbUrl)" alt="Cover" class="coverPicThumb" referrerpolicy="same-origin"/>
	</a>
}

@helper SongLink(SongContract song, int? albumId = null, bool tooltip = false) {
	@Html.ActionLink(song.Name, "Details", "Song", ViewHelper.GetRouteValueDictionary(song, albumId), new Dictionary<string, object> { { "title", song.AdditionalNames }, { "data-bind", tooltip ? "songToolTip: " + song.Id : null } })
}

@helper SongLink(SongForApiContract song, int? albumId = null) {
	<a href="@Url.SongDetails(song, albumId)" title="@song.AdditionalNames">
		@song.Name
	</a>
}

@helper SongLinkKnockout(string binding, string extUrlBinding = null, bool tooltip = false, string toolTipDomainBinding = null) {
	<a href="#" data-bind="attr: { href: @extUrlBinding || app.EntryUrlMapper.details_song(@binding), title: @(binding).additionalNames }, text: @(binding).name, css: { extLink: @extUrlBinding } @(tooltip ? ", songToolTip: " + binding + ".id" : "") @(toolTipDomainBinding != null ? ", toolTipDomain: " + toolTipDomainBinding : "")"></a>
}

@helper SongListsKnockout(string binding, bool groupByYear = false) {
	
	<table class="table table-striped">
		<tbody data-bind="foreach: @Html.Raw(binding)">
			<!-- ko if: @(groupByYear ? "true" : "false") && $parent.isFirstForYear($data, $index()) -->
			<tr>
				<td colspan="3">
					<h3 class="song-list-year">{{ $data.eventDate | formatDate: 'YYYY' }}</h3>
				</td>
			</tr>
			<!-- /ko -->
			<tr>
				<td style="width: 75px">
					<a href="#" data-bind="visible: $data.mainPicture && mainPicture.urlSmallThumb, attr: { href: app.EntryUrlMapper.details('SongList', id) }">
						<img class="coverPicThumb" alt="Picture" data-bind="attr: { src: $data.mainPicture ? mainPicture.urlSmallThumb : '' }" />
					</a>
				</td>
				<td>
					<a href="#" data-bind="attr: { href: app.EntryUrlMapper.details('SongList', id) }">{{ name }}</a>
					<div visible="{{ $data.eventDate }}">
						<small>{{ $data.eventDate | formatDate: 'l' }}</small>
					</div>
				</td>
				<td data-bind="if: $parent.showTags() && $data.tags" class="search-tags-column">
					<div data-bind="visible: tags.length">
						<i class="icon icon-tags fix-icon-margin"></i>
						<!-- ko foreach: tags -->
						<a href="#" data-bind="text: tag.name, click: function() { $parents[1].selectTag(tag); return false; }"></a><span data-bind="visible: $data != _.last($parent.tags)">,</span>
						<!-- /ko -->
					</div>
				</td>
			</tr>
		</tbody>
	</table>

}