@using VocaDb.Web.Helpers;;
@using VocaDb.Web.Models.Shared.Partials.ArchivedEntry;
@using VocaDb.Web.Models.Shared.Partials.Tag;
@model PrintArchivedTagDataViewModel

<div class="well well-transparent archived-entry-contents">
	<h4>Content</h4>

	<table class="table table-bordered">
		@Html.Partial("Partials/ArchivedEntry/_DataRow", new DataRowViewModel("Id", Model.ComparedTags.FirstData.Id))
		@ArchivedEntryHelpers.TranslatedNameRow(Model.ComparedTags, d => d.TranslatedName)
		@ArchivedEntryHelpers.DataRowList("Names", Model.ComparedTags, d => DataFormatUtils.GenerateHtml(d.Names, name => Html.Partial("Partials/ArchivedEntry/_NameInfo", new NameInfoViewModel(name))))
		@ArchivedEntryHelpers.DataRow(Html, "Description", Model.ComparedTags, d => d.Description)
		@ArchivedEntryHelpers.DataRow(Html, "Description English", Model.ComparedTags, d => d.DescriptionEng)
		@ArchivedEntryHelpers.ObjectRefList("Related tags", Model.ComparedTags, d => d.RelatedTags)
		@ArchivedEntryHelpers.DataRow(Html, "Valid for", Model.ComparedTags, d => d.Targets)
		@ArchivedEntryHelpers.DataRowList("External links", Model.ComparedTags, d => DataFormatUtils.GenerateHtml(d.WebLinks, webLink => Html.Partial("Partials/ArchivedEntry/_WebLinkInfo", new WebLinkInfoViewModel(webLink))))
		@ArchivedEntryHelpers.DataRow(Html, "Category name", Model.ComparedTags, d => d.CategoryName)
		@ArchivedEntryHelpers.DataRow(Html, "Parent", Model.ComparedTags, d => Html.Partial("Partials/ArchivedEntry/_ObjectRefInfo", new ObjectRefInfoViewModel(d.Parent)))
	</table>

</div>