@using VocaDb.Web.Helpers;;
@using VocaDb.Web.Models.Shared.Partials.ArchivedEntry;
@using VocaDb.Web.Models.Shared.Partials.Tag;
@model PrintArchivedTagDataViewModel

<div class="well well-transparent archived-entry-contents">
	<h4>Content</h4>

	<table class="table table-bordered">
		@ArchivedEntryHelpers.DataRow("Id", Model.ComparedTags.FirstData.Id)
		@ArchivedEntryHelpers.TranslatedNameRow(Model.ComparedTags, d => d.TranslatedName)
		@ArchivedEntryHelpers.DataRowList("Names", Model.ComparedTags, d => DataFormatUtils.GenerateHtml(d.Names, names => Html.Partial("Partials/ArchivedEntry/_NameInfo", new NameInfoViewModel(names))))
		@ArchivedEntryHelpers.DataRow("Description", Model.ComparedTags, d => d.Description)
		@ArchivedEntryHelpers.DataRow("Description English", Model.ComparedTags, d => d.DescriptionEng)
		@ArchivedEntryHelpers.ObjectRefList("Related tags", Model.ComparedTags, d => d.RelatedTags)
		@ArchivedEntryHelpers.DataRow("Valid for", Model.ComparedTags, d => d.Targets)
		@ArchivedEntryHelpers.DataRowList("External links", Model.ComparedTags, d => DataFormatUtils.GenerateHtml(d.WebLinks, webLinks => Html.Partial("Partials/ArchivedEntry/_WebLinkInfo", new WebLinkInfoViewModel(webLinks))))
		@ArchivedEntryHelpers.DataRow("Category name", Model.ComparedTags, d => d.CategoryName)
		@ArchivedEntryHelpers.DataRow("Parent", Model.ComparedTags, d => ArchivedEntryHelpers.ObjectRefInfo(d.Parent))
	</table>

</div>