@using VocaDb.Model.Service.Search
@using VocaDb.Web.Models.Shared.Partials.Album
@using VocaDb.Web.Models.Shared.Partials.Knockout
@using VocaDb.Web.Models.Shared.Partials.Search
@using VocaDb.Web.Resources.Domain
@using Res = ViewRes.Search.IndexStrings

<!-- Album search options -->
<div data-bind="visible: showAlbumSearch, with: albumSearchViewModel">
	<div class="control-group">
		<div class="control-label">@Res.AlbumType</div>
		<div class="controls">
			<partial name="Partials/Album/_DiscTypesDropdownKnockout" model="@(new DiscTypesDropdownKnockoutViewModel("albumType"))" />
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">@EntryTypeNames.Artist</div>
		<div class="controls" data-bind="with: artistFilters">
			<partial name="Partials/Knockout/_ArtistFilters" model="@(new ArtistFiltersViewModel(artistParticipationStatus: true))" />
		</div>
	</div>
	
	<div class="control-group">
		<div class="control-label"></div>
		<div class="controls">
			<partial name="Partials/Search/_AdvancedFilters" model="@(new AdvancedFiltersViewModel(AdvancedSearchFilters.AlbumFilters))" />
		</div>
	</div>
</div>
