@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models.Shared.Partials.Knockout;
@inherits VocaDb.Web.Code.VocaDbPage<VocaDb.Model.DataContracts.Albums.AlbumContract>

@{
	PageProperties.Title = "Merge album - " + Model.Name;
	ViewBag.Parents = new[] {
		Html.ActionLink("Albums", "Index"),
		Html.ActionLink(Model.Name, "Details", new { id = Model.Id }),
		Html.ActionLink("Edit", "Edit", new { id = Model.Id }),
	};
}

@using (Html.BeginForm())
{

	@Html.Partial("Partials/Shared/_MergeEntryInfo")

	<input type="hidden" name="targetAlbumId" id="targetAlbumId" data-bind="value: target.id" />

	<br />
	<div class="clearfix">
		<div class="pull-left">
			@Html.Partial("Partials/Knockout/_LockingAutoComplete", new LockingAutoCompleteViewModel("albumAutoComplete", "targetSearchParams", "target.name", "target.id"))
		</div>
		<div class="pull-left entry-field-inline-warning">
			<div class="alert" data-bind="visible: validationError_targetIsNewer" style="display: none;">
				<span class="icon-line errorIcon"></span>
				@ViewRes.EntryMergeStrings.ValidationErrorTargetIsNewer
			</div>

			<div class="alert" data-bind="visible: validationError_targetIsLessComplete" style="display: none;">
				<span class="icon-line errorIcon"></span>
				@ViewRes.EntryMergeStrings.ValidationErrorTargetIsLessComplete
			</div>
		</div>
	</div>

	<br />

	<button type="submit" class="btn btn-primary" id="mergeBtn" data-bind="enable: target.id">Merge</button>

}

@section BodyScripts {
	@LaravelMixHelper.RenderScripts("~/bundles/shared/edit.js", "~/bundles/Album/Merge.js")
	<script type="text/javascript">

	    $(function() {

	    	var repo = new app.AlbumRepository('@RootPath', @LanguagePreferenceInt);
	    	var vm = new app.AlbumMergeViewModel(repo, @Model.Id);
	    	ko.applyBindings(vm);

	    	$("#mergeBtn").click(function () {
	    		return confirm("Are you sure you want to merge the albums?");
	    	});

	    });

	</script>
}