@using VocaDb.Model.Domain.Security
@using VocaDb.Web.Helpers
@inherits VocaDb.Web.Code.VocaDbPage

@{
	PageProperties.Title = "Discussions";
}

<link rel="stylesheet" href="@Url.Content("~/Content/Styles/discussions.css")" />

<div id="discussions" class="js-cloak" data-bind="show">
	<!-- binding context: DiscussionIndexViewModel -->

	<ul class="breadcrumb" data-bind="visible: selectedFolder()">
		<li>
			<a href="@Url.Action("Index", "Discussion", new { clientPath = "" })">@ViewRes.Discussion.IndexStrings.Discussions</a>
			<span data-bind="visible: selectedTopic()" class="divider">/</span>
		</li>
		<li>
			<a href="#" data-bind="visible: selectedTopic(), attr: { href: '/discussion/folders/' + (selectedFolder() != null ? selectedFolder().id : '') }, text: selectedFolder() != null ? selectedFolder().name : ''"></a>
		</li>
	</ul>

	<partial name="Partials/_ViewFolders" />

	<partial name="Partials/_ViewFolder" />

	<partial name="Partials/_ViewTopic" />
</div>

@section BodyScripts {
	<script src="@Url.Content("~/Scripts/page.js")" type="text/javascript"></script>
	<script type="text/javascript">
		var canDeleteAllComments = @ToJS(UserContext.HasPermission(PermissionToken.DeleteComments));
		app.DiscussionIndex(canDeleteAllComments);
	</script>
}
