@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.Knockout 
@model VocaDb.Model.DataContracts.Artists.ArtistContract

@{
	PageProperties.Title = "Merge artist - " + Model.Name;
	ViewBag.Parents = new[] {
		Html.ActionLink("Artists", "Index"),
		Html.ActionLink(Model.Name, "Details", new { id = Model.Id }),
		Html.ActionLink("Edit", "Edit", new { id = Model.Id }),
	};
}

@using (Html.BeginForm())
{

	<partial name="Partials/Shared/_MergeEntryInfo" />

	<input type="hidden" name="targetArtistId" id="targetArtistId" data-bind="value: target.id" />

	<br />
	<div class="clearfix">
		<div class="pull-left">
			<partial name="Partials/Knockout/_LockingAutoComplete" model="@(new LockingAutoCompleteViewModel("artistAutoComplete", "targetSearchParams", "target.name", "target.id"))" />
		</div>
		<div class="pull-left entry-field-inline-warning">
			<div class="alert" data-bind="visible: validationError_targetIsNewer" style="display: none;">
				<span class="icon-line errorIcon"></span>
				@ViewRes.EntryMergeStrings.ValidationErrorTargetIsNewer
			</div>

			<div class="alert" data-bind="visible: validationError_targetIsLessComplete" style="display: none;">
				<span class="icon-line errorIcon"></span>
				@ViewRes.EntryMergeStrings.ValidationErrorTargetIsLessComplete
			</div>
		</div>
	</div>

	<br />

	<button type="submit" class="btn btn-primary" id="mergeBtn" data-bind="enable: target.id">@ViewRes.EntryMergeStrings.MergeBtnText</button>

}

@section BodyScripts {
	<remikus path="/bundles/shared/edit.js" />
	<remikus path="/bundles/Artist/Merge.js" />
	<script type="text/javascript">
		var model = {
			id: @Model.Id,
		};
		app.ArtistMerge(model);
	</script>
}
