@using VocaDb.Web.Code;
@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models.Artist;
@using VocaDb.Web.Models.Shared.Partials.Artist;
@inherits VocaDb.Web.Code.VocaDbPage<VocaDb.Model.DataContracts.Artists.ArchivedArtistVersionDetailsContract>

@{
	
    PageProperties.Title = "Revision " + Model.ArchivedVersion.Version + " for " + Model.Name;
	PageProperties.Robots = PagePropertiesData.Robots_Noindex_Nofollow;
	ViewBag.Parents = new[] { 
		Html.ActionLink("Artist", "Index"), 
		Html.ActionLink(Model.Artist.Name, "Details", new { id = Model.Artist.Id }),
		Html.ActionLink("Revisions", "Versions", new { id = Model.Artist.Id })
	};

}

@section Toolbar {
@if (Login.CanRevertEntryVersions && Model.CanBeReverted) {
	@Html.ActionLink("Revert to this version", "RevertToVersion", new { archivedArtistVersionId = Model.ArchivedVersion.Id }, new { id = "revertLink", onclick = "return confirm(\"Are you sure you want to revert to this version?\");" })
}
&nbsp;
<a href="@Url.Action("ArchivedVersionXml", new { id = Model.ArchivedVersion.Id })" id="downloadXmlLink">Download XML</a>
<a href="#" id="reportEntryLink" data-bind="click: reportViewModel.show">@ViewRes.EntryDetailsStrings.ReportAnError</a>
@if (Login.CanViewHiddenRevisions) {
	if (Model.ArchivedVersion.Hidden) {
		@Html.ActionLink("Show this version", "UpdateVersionVisibility", new { archivedVersionId = Model.ArchivedVersion.Id, hidden = false }, new { id = "showLink", onclick = "return confirm(\"Are you sure you want to show this version?\");" })
	} else {
		@Html.ActionLink("Hide this version", "UpdateVersionVisibility", new { archivedVersionId = Model.ArchivedVersion.Id, hidden = true }, new { id = "hideLink", onclick = "return confirm(\"Are you sure you want to hide this version?\");" })
	}
}
}

@if (Model.ArchivedVersion.Hidden) {
	@EntryDetailsHelpers.HiddenBanner()
}

@if (Model.ComparableVersions.Any()) {
	using (Html.BeginForm("ViewVersion", "Artist", FormMethod.Post, new { @class = "form form-inline" })) {
		@:Compare to: @Html.DropDownListFor(m => m.ComparedVersionId, ViewHelper.CreateSelectList(Model.ComparableVersions, i => i.Id, i => i.Version + " (" + Versions.GetChangeString(i.ChangedFields) + " by " + i.AgentName + ")", Model.ComparedVersionId), new { @class = "input-xlarge", onchange = "$(this).closest('form').submit();" })
		<button type="submit" class="btn btn-primary">Compare</button>
	}
}

@ArchivedEntryHelpers.ArchivedObjectVersionProperties(Versions.CreateForArtist(Model.ArchivedVersion),
	Model.ComparedVersion != null ? Versions.CreateForArtist(Model.ComparedVersion) : null)

@{ Html.RenderPartial("Partials/Artist/_PrintArchivedArtistData", new PrintArchivedArtistDataViewModel(Model.Versions)); }

@EntryDetailsHelpers.ReportEntryVersionPopupKnockout()

@section BodyScripts {
	<script src="@Url.Content("~/Scripts/ViewModels/Artist/ArchivedArtistViewModel.js")"></script>
    <script type="text/javascript">

		$(function () {

            $("#revertLink").button({ icons: { primary: 'ui-icon-arrowrefresh-1-w'} });
            $("#downloadXmlLink").button({ icons: { primary: 'ui-icon-arrowthickstop-1-s' } });
			$("#reportEntryLink").button({ icons: { primary: 'ui-icon-alert' } });
			$("#showLink").button({ icons: { primary: 'ui-icon-unlocked' } });
			$("#hideLink").button({ icons: { primary: 'ui-icon-locked' } });

            var rep = new vdb.repositories.ArtistRepository('@RootPath', @LanguagePreferenceInt);

            var viewModel = new vdb.viewModels.artists.ArchivedArtistViewModel(@Model.Artist.Id, @Model.ArchivedVersion.Version, rep);
            ko.applyBindings(viewModel);

        });

    </script>
}