@using VocaDb.Web.Models.Shared.Partials.Shared
@model VocaDb.Web.Models.User.ResetPassword
@{
	PageProperties.Title = "Reset password";
}

@Html.Partial("Partials/Shared/_ValidationSummaryPanel", new ValidationSummaryPanelViewModel("Unable to process request"))

@using (Html.BeginForm()) {
	
	@Html.HiddenFor(m => m.RequestId)
	
	<div class="editor-label">
		@Html.LabelFor(m => m.NewPass)
	</div>
	<div class="editor-field">
		@Html.PasswordFor(m => m.NewPass)<br />
		@Html.ValidationMessageFor(m => m.NewPass)
	</div>

	<div class="editor-label">
		@Html.LabelFor(m => m.NewPassAgain)
	</div>
	<div class="editor-field">
		@Html.PasswordFor(m => m.NewPassAgain)<br />
 		@Html.ValidationMessageFor(m => m.NewPassAgain)
	</div>
	<br />
	
	<p>
		<button type="submit" class="btn btn-primary">Change password</button>
	</p>

	
}
