@using VocaDb.Web.Models.Shared.Partials.Knockout
@model EntryValidationMessageViewModel

@if (Model.Draft)
{
	<div class="alert alert-success alert-no-bottom-margin" data-bind="visible: !hasValidationErrors()" style="display: none;">
		<span class="icon-line tickIcon"></span>
		@HelperRes.HelperStrings.EntryValidationNoErrorsDraft
	</div>
}
else
{
	<div class="alert alert-success alert-no-bottom-margin" data-bind="visible: !hasValidationErrors()" style="display: none;">
		<span class="icon-line tickIcon"></span>
		@HelperRes.HelperStrings.EntryValidationNoErrors
	</div>
}

<div class="alert alert-no-bottom-margin" data-bind="visible: hasValidationErrors()" style="display: none;">
	<div class="pull-right">
		<a data-bind="click: function() { validationExpanded(!validationExpanded()); }, css: { active: validationExpanded }" class="btn btn-mini" href="#">
			<i class="icon-plus noMargin"></i>
			@HelperRes.HelperStrings.EntryValidationWarningDetails
		</a>
	</div>

	<!-- ko if: !validationExpanded() -->
	<div class="entry-validation-error-summary">
		<span class="icon-line errorIcon"></span>
		<strong>@HelperRes.HelperStrings.EntryIsMissingInformation</strong>
		@foreach (var validationMessage in Model.ValidationMessages)
		{
			<span data-bind="visible: @validationMessage.Key">
				@validationMessage.Value
			</span>
		}
	</div>
	<!-- /ko -->
	<!-- ko if: validationExpanded -->
	<h4>@HelperRes.HelperStrings.EntryIsMissingInformation</h4>
	<ul class="entry-validation-list">
		@foreach (var validationMessage in Model.ValidationMessages)
		{
			<li data-bind="visible: @validationMessage.Key">@validationMessage.Value</li>
		}
	</ul>
	@if (Model.HelpSection != null)
	{
		<span>See the <a href="@(Url.Action("Index", "Help") + "?guidelines+" + Model.HelpSection)">guide</a> for more information.</span>
	}
	<!-- /ko -->
</div>